<h1>
  <span role="text">
    What is AMD?
    <span class="ofh-caption-xl ofh-caption--bottom">
      <span class="ofh-u-visually-hidden">
			-
			</span>
        Age-related macular degeneration (AMD)
		</span>
  </span>
</h1>
