{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Select with hint text and error message' %}
{% from 'components/select/macro.njk' import select %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ select({
            "id": "select-2",
            "name": "select-2",
            "label": {
              "text": "Label text goes here"
            },
            "hint": {
              "text": "Hint text goes here"
            },
            "errorMessage": {
              "text": "Error message goes here"
            },
            "items": [
              {
                "value": 1,
                "text": "Our Future Health design system toolkit option 1"
              },
              {
                "value": 2,
                "text": "Our Future Health design system toolkit option 2"
              },
              {
                "value": 3,
                "text": "Our Future Health design system toolkit option 3"
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
