{% from 'components/tag/macro.njk' import tag %}

<table class="ofh-table">
  <thead class="ofh-table__head">
    <tr class="ofh-table__row">
      <th class="ofh-table__header" scope="col"> Name of user </th>
      <th class="ofh-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="ofh-table__body">
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Les Hunter
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Inactive",
          classes: "ofh-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Naomi Edwards
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Inactive",
          classes: "ofh-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Lyra Louth
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Active"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Michelle Flynn
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Active"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Brian Okello
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Inactive",
          classes: "ofh-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Lisa Lenehan
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Active"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Emily Snailham
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Inactive",
          classes: "ofh-tag--grey"
        })}}
      </td>
    </tr>
  </tbody>
</table>
