{% extends "template.njk" %}

{% from 'packages/components/back-link/macro.njk' import backLink %}

{% set mainClasses = "ofh-main-wrapper--s" %}

{% block pageTitle %}
  Transactional page template
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "#",
    "text": "Back",
    "classes": "ofh-u-margin-top-4 ofh-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Service name here",
        "href": "#"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="ofh-grid-row">
    <div class="ofh-grid-column-two-thirds">
      <h1 class="ofh-heading-l">
        Transactional page template
      </h1>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Cookies"
      },
      {
        "URL": "#",
        "label": "Privacy policy"
      },
      {
        "URL": "#",
        "label": "Terms and conditions"
      }
    ]
  })}}
{% endblock %}
