{% from 'components/header/macro.njk' import header %}

{{ header({
  "homeHref": "/",
  "ariaLabel": "Our Future Health design system homepage",
  "service": {
    "name": "Digital service manual",
    "longName": "true"
  },
  "organisation": {
    "name": "Our Future Health",
    "logoURL": "/ofh-design-system-toolkit/assets/logos/ofh-logo-marque.svg"
  },
  "showNav": "true",
  "showSearch": "false",
  "primaryLinks": [
    {
      'url' : '/design-system',
      'label' : 'Design system'
    }
  ]
  })
}}
