<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Standalone example</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NHS digital service manual - standalone example" />

    <link rel="shortcut icon" href="/ofh-design-system-toolkit/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/ofh-design-system-toolkit/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/ofh-design-system-toolkit/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/ofh-design-system-toolkit/assets/favicons/favicon-192x192.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/design-example-overrides.css">

    <script src="/js/main.min.js" defer></script>
  </head>

  <body class="app-example-{{item}}-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include templatePath %}

    <script src="/iframe-resizer/js/iframeResizer.contentWindow.min.js"></script>
  </body>

</html>
