{% from 'packages/components/header/macro.njk' import header %}
{% from 'packages/components/footer/macro.njk' import footer %}
{% from 'packages/components/skip-link/macro.njk' import skipLink %}
{% from 'packages/components/action-link/macro.njk' import actionLink %}
{% from 'packages/components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'packages/components/contents-list/macro.njk' import contentsList %}
{% from 'packages/components/details/macro.njk' import details %}
{% from 'packages/components/header/macro.njk' import header %}
{% from 'packages/components/hero/macro.njk' import hero %}
{% from 'packages/components/footer/macro.njk' import footer %}
{% from 'packages/components/do-dont-list/macro.njk' import list %}
{% from 'packages/components/images/macro.njk' import image %}
{% from 'packages/components/inset-text/macro.njk' import insetText %}
{% from 'packages/components/pagination/macro.njk' import pagination %}
{% from 'packages/components/skip-link/macro.njk' import skipLink %}
{% from 'packages/components/tables/macro.njk' import table %}
{% from 'packages/components/warning-callout/macro.njk' import warningCallout %}
{% from 'packages/components/back-link/macro.njk' import backLink %}
{% from 'packages/components/button/macro.njk' import button %}
{% from 'packages/components/checkboxes/macro.njk' import checkboxes %}
{% from 'packages/components/date-input/macro.njk' import dateInput %}
{% from 'packages/components/error-message/macro.njk' import errorMessage %}
{% from 'packages/components/error-summary/macro.njk' import errorSummary %}
{% from 'packages/components/fieldset/macro.njk' import fieldset %}
{% from 'packages/components/hint/macro.njk' import hint %}
{% from 'packages/components/input/macro.njk' import input %}
{% from 'packages/components/label/macro.njk' import label %}
{% from 'packages/components/radios/macro.njk' import radios %}
{% from 'packages/components/select/macro.njk' import select %}
{% from 'packages/components/summary-list/macro.njk' import summaryList %}
{% from 'packages/components/textarea/macro.njk' import textarea %}
{%- from 'design-example.njk' import designExample with context %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}Our Future Health design system docs{% endif %}" />
    {%- block extraMeta %}{% endblock %}

    <title>{% if pageTitle %}{{ pageTitle }} - Our Future Health design system{% else %}Our Future Health design system{% endif %}</title>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.min.js" defer></script>

    <link rel="shortcut icon" href="/ofh-design-system-toolkit/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/ofh-design-system-toolkit/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/ofh-design-system-toolkit/assets/favicons/favicon.svg" color="#FFC62C">
    <link rel="icon" sizes="192x192" href="/ofh-design-system-toolkit/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/ofh-design-system-toolkit/assets/favicons/favicon-270x270.png">
    <meta name="msapplication-TileColor" content="#FFC62C">

    <meta property="og:url" content="https://ourfuturehealth.github.io/design-system-toolkit/"/>
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - Our Future Health design system{% else %}Our Future Health design system{% endif %}"/>
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}Things you need to start building accessible user interfaces for Our Future Health websites and services.{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>

    <meta property="og:image" content="/ofh-design-system-toolkit/assets/logos/ofh-marque_lge.png" />
    <meta property="og:image:width" content="1080" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:image:alt" content="Our Future Health" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ukfuturehealth">
    <meta name="twitter:creator" content="@ukfuturehealth">
  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="ofh-skip-link" href="#maincontent">Skip to main content</a>

    <div class="ofh-width-container">
      <span class="ofh-heading-m ofh-u-padding-top-2 ofh-u-margin-bottom-2">Everything on this site is under review. Not all references to the NHS have been changed yet.</span>
    </div>

    {% include "_header.njk" %}

    {% block breadcrumb %}
      {{ breadcrumb({
        href: "/",
        text: "Home",
        classes: "app-breadcrumb"
      }) }}
    {% endblock %}

    {% block outerBody %}{% endblock %}

    {%- if beta %}
    {% include "_beta-banner.njk" %}
    {% endif %}

    {%- if unpublished %}
    {% include "_is-unpublished-banner.njk" %}
    {% endif %}

    {% if pageLayout != "Homepage" %}
    <div class="ofh-width-container app-width-container">
      <main class="ofh-main-wrapper app-main-wrapper" id="maincontent" role="main">
        {% block body %}{% endblock %}
      </main>
    </div>

    {% endif %}

    {% include "_footer.njk" %}

    {% block pageScripts %}{% endblock %}
  </body>

</html>
