/* ==========================================================================
   COMPONENTS/ #LABEL
   ========================================================================== */

.ofh-label {
  @include ofh-font(19);

  display: block;
  margin-bottom: ofh-spacing(1);
}

/* Modifiers that make labels look more like their equivalent headings */

.ofh-label--xl {
  @include ofh-typography-responsive(48);

  display: block;
  font-weight: $ofh-font-bold;
  margin-top: 0;

  @include ofh-responsive-margin(7, 'bottom');
}

.ofh-label--l {
  @include ofh-typography-responsive(32);

  display: block;
  font-weight: $ofh-font-bold;
  margin-top: 0;

  @include ofh-responsive-margin(4, 'bottom');
}

.ofh-label--m {
  @include ofh-typography-responsive(24);

  display: block;
  font-weight: $ofh-font-bold;
  margin-top: 0;

  @include ofh-responsive-margin(4, 'bottom');
}

.ofh-label--s {
  @include ofh-typography-responsive(19);

  display: block;
  font-weight: $ofh-font-bold;
  margin-top: 0;

  @include ofh-responsive-margin(4, 'bottom');
}

// When the label is nested inside a heading, override the heading so that it
// does not have a margin. Effectively we want to be able to treat the heading
// as if it is not there.
//
// This breaks BEM conventions because it exists as a parent of the 'block',
// so we can't really consider an element.
.ofh-label-wrapper {
  margin: 0;
}
