/* ==========================================================================
   COMPONENTS/ #BUTTON
   ========================================================================== */
/* stylelint-disable selector-no-qualifying-type */

// Base button styles
.ofh-button,
a.ofh-button {
  @include ofh-responsive-margin(24, 'bottom');
  @include ofh-responsive-padding(16, 'vertical');
  @include ofh-responsive-padding(24, 'horizontal');
  @include ofh-typography-responsive('h5');

  -webkit-appearance: none;
  background-color: $ofh-color-background-button-default-inverted;
  border: $ofh-stroke-weight-2 solid transparent;
  border-radius: $ofh-radius-8;
  box-shadow: none;
  color: $ofh-color-background-button-default-inverted;
  cursor: pointer;
  display: inline-block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;
  position: relative;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: $ofh-stroke-weight-1;
  text-underline-offset: 1px;
  vertical-align: top;
  width: auto;

  &:visited,
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Button variations
.ofh-button--contained,
a.ofh-button.ofh-button--contained {
  background-color: $ofh-color-background-button-default;
  color: $ofh-color-background-button-default-inverted;

  &:hover {
    background-color: $ofh-color-background-button-hover;
  }

  &:focus {
    background-color: $ofh-color-background-button-active;

    @include ofh-focused-button;
  }

  &:active {
    background-color: $ofh-color-background-button-active;
    outline: none;
  }
}

.ofh-button--outlined,
a.ofh-button.ofh-button--outlined {
  border: $ofh-stroke-weight-2 solid $ofh-color-background-button-default;
  color: $ofh-color-background-button-default;

  &:hover {
    border: $ofh-stroke-weight-2 solid $ofh-color-background-button-hover;
    color: $ofh-color-background-button-hover;
  }

  &:active,
  &:focus {
    border: $ofh-stroke-weight-2 solid $ofh-color-background-button-active;
    color: $ofh-color-background-button-active;
  }

  &:focus {
    @include ofh-focused-button;
  }

  &:active {
    outline: none;
  }
}

.ofh-button--ghost,
a.ofh-button.ofh-button--ghost {
  background-color: transparent;
  border: $ofh-stroke-weight-2 solid $ofh-color-background-button-default;
  color: $ofh-color-background-button-default;

  &:hover {
    background-color: transparent;
    border: $ofh-stroke-weight-2 solid $ofh-color-background-button-hover;
    color: $ofh-color-background-button-hover;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border: $ofh-stroke-weight-2 solid $ofh-color-background-button-active;
    color: $ofh-color-background-button-active;
  }

  &:focus {
    @include ofh-focused-button;
  }

  &:active {
    outline: none;
  }

  &-inverted {
    background-color: transparent;
    border: $ofh-stroke-weight-2 solid $ofh-color-background-button-default-inverted;
    color: $ofh-color-background-button-default-inverted;

    &:hover {
      background-color: transparent;
      border: $ofh-stroke-weight-2 solid $ofh-color-background-button-hover-inverted;
      color: $ofh-color-background-button-hover-inverted;
    }

    &:active,
    &:focus {
      background-color: transparent;
      border: $ofh-stroke-weight-2 solid $ofh-color-background-button-active-inverted;
      color: $ofh-color-background-button-active-inverted;
    }

    &:focus {
      @include ofh-focused-button-inverted;
    }

    &:active {
      outline: none;
    }
  }
}

.ofh-button--text,
a.ofh-button.ofh-button--text {
  background-color: transparent;
  color: $ofh-color-background-button-default;

  &:hover {
    color: $ofh-color-background-button-hover;
  }

  &:focus {
    color: $ofh-color-background-button-active;

    @include ofh-focused-button;
  }

  &:active {
    color: $ofh-color-background-button-active;
    outline: none;
  }

  &-inverted {
    background-color: transparent;
    color: $ofh-color-background-button-default-inverted;

    &:hover {
      color: $ofh-color-background-button-hover-inverted;
    }

    &:focus {
      color: $ofh-color-background-button-active-inverted;

      @include ofh-focused-button-inverted;
    }

    &:active {
      color: $ofh-color-background-button-active-inverted;
      outline: none;
    }
  }
}
