/* ==========================================================================
   #TAG
   ========================================================================== */

/* stylelint-disable color-no-hex */

.ofh-tag {
  @include ofh-font($size: 16, $weight: bold, $line-height: 1);
  background-color: $color_ofh-brand-blue-1;
  color: $color_ofh-white;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  text-decoration: none;
}

@media (min-width: 40.0625em){
.ofh-tag {
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
  }
}
/* Colour variants
  ========================================================================== */


.ofh-tag--grey {
  background-color: $color_ofh-grey-5;
  border: 1px solid;
  border-color: $color_ofh-grey-3;
  color: $color_ofh-grey-1;
}

.ofh-tag--green {
  background-color: tint($color_ofh-brand-green, 80%);
  color: $color_ofh-brand-green-1;
}

.ofh-tag--blue {
  background-color: tint($color_ofh-brand-blue, 80%);
  color: $color_ofh-brand-blue-1;
}

.ofh-tag--red {
  background-color: tint($color_ofh-brand-red, 80%);
  color: $color_ofh-brand-red-1;
}

.ofh-tag--yellow {
  background-color: tint($color_ofh-brand-yellow, 70%);
  color: $color_ofh-brand-yellow-1;
}
