/* ==========================================================================
   COMPONENTS/ #BUTTON
   ========================================================================== */
$button-shadow-size: 4px;

// Base button styles
.ofh-button {
  @include ofh-font(19);
  @include ofh-responsive-margin(5, 'bottom', $adjustment: $button-shadow-size);

  -webkit-appearance: none;
  background-color: $color_ofh-white;
  border: $ofh-border-width-form-element solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color_ofh-white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: ofh-spacing(3) ofh-spacing(4);
  position: relative;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
  width: auto;

  @include mq($until: tablet) {
    padding: 12px ofh-spacing(3); // 12px not defined in $ofh-spacing-points
  }

  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Button variations
.ofh-button--contained {
  background-color: $ofh-button-color-blue;
  /* stylelint-disable number-leading-zero */
  box-shadow: 0 $button-shadow-size $button-shadow-size rgba(0, 0, 0, 0.25);
  color: $color_ofh-white;

  &:hover {
    background-color: $ofh-button-color-dark-blue;
    transform: translateY(-4px);
  }

  &:focus {
    background-color: $ofh-button-color-dark-blue;
    box-shadow: none;
    outline: 4px solid $ofh-button-color-blue;
    outline-offset: 4px;
  }

  &:active {
    background-color: $ofh-button-color-dark-blue;
    box-shadow: none;
    top: $button-shadow-size;
  }
}

.ofh-button--outlined {
  border: $ofh-border-width-form-element solid $ofh-button-color-blue;
  color: $ofh-button-color-blue;

  &:active,
  &:hover {
    border: $ofh-border-width-form-element solid $ofh-button-color-dark-blue;
    color: $ofh-button-color-dark-blue;
  }

  &:focus {
    border: $ofh-border-width-form-element solid $ofh-button-color-dark-blue;
    color: $ofh-button-color-dark-blue;
    outline: 4px solid $ofh-button-color-blue;
    outline-offset: 4px;
  }
}

.ofh-button--ghost {
  background-color: transparent;
  border: $ofh-border-width-form-element solid $ofh-button-color-blue;
  color: $ofh-button-color-blue;

  &:active,
  &:hover {
    background-color: transparent;
    border: $ofh-border-width-form-element solid $ofh-button-color-dark-blue;
    color: $ofh-button-color-dark-blue;
  }

  &:focus {
    background-color: transparent;
    border: $ofh-border-width-form-element solid $ofh-button-color-dark-blue;
    color: $ofh-button-color-dark-blue;
    outline: 4px solid $ofh-button-color-blue;
    outline-offset: 4px;
  }

  &-reverse {
    background-color: transparent;
    color: $color_ofh-white;

    &:hover {
      background-color: transparent;
      border: $ofh-border-width-form-element solid $color_ofh-grey-5;
      color: $color_ofh-grey-5;
    }

    &:focus {
      background-color: transparent;
      border: $ofh-border-width-form-element solid $color_ofh-grey-4;
      color: $color_ofh-grey-4;
      outline: 4px solid $color_ofh-white;
      outline-offset: 4px;
    }

    &:active {
      background-color: transparent;
      border: $ofh-border-width-form-element solid $color_ofh-grey-4;
      color: $color_ofh-grey-4;
    }
  }
}

.ofh-button--text {
  background-color: transparent;
  color: $ofh-button-color-blue;

  &:hover {
    color: $ofh-button-color-dark-blue;
  }

  &:focus {
    border: 4px solid $ofh-button-color-blue;
    border-radius: 0;
    color: $ofh-button-color-dark-blue;
  }

  &:active {
    color: $ofh-button-color-dark-blue;
  }

  &-reverse {
    background-color: transparent;
    color: $color_ofh-white;

    &:hover {
      color: $color_ofh-grey-4;
    }

    &:focus {
      border: 4px solid $color_ofh-white;
      border-radius: 0;
      color: $color_ofh-grey-4;
    }

    &:active {
      color: $color_ofh-grey-4;
    }
  }
}
