/* ==========================================================================
   COMPONENTS/ #SUMMARY-LIST
   ========================================================================== */

/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Required to allow us to wrap words that overflow.
 * 2. Reset default user agent styles
 * 3. Automatic wrapping for unbreakable text (e.g. URLs)
 * 4. Fallback for older browsers only
 */

.ofh-summary-list {
  @include ofh-font($size: 19);

  @include mq($from: tablet) {
    display: table;
    table-layout: fixed; /* [1] */
    width: 100%;
  }

  margin: 0; /* [2] */
  @include ofh-responsive-margin(6, 'bottom');
}

.ofh-summary-list__row {
  @include mq($until: tablet) {
    border-bottom: 1px solid $ofh-border-color;
    margin-bottom: ofh-spacing(3);
  }
  @include mq($from: tablet) {
    display: table-row;
  }
}

.ofh-summary-list__key,
.ofh-summary-list__value,
.ofh-summary-list__actions {
  margin: 0; /* [2] */
  vertical-align: top;

  @include mq($from: tablet) {
    border-bottom: 1px solid $ofh-border-color;
    display: table-cell;
    padding-bottom: ofh-spacing(2);
    padding-right: ofh-spacing(4);
    padding-top: ofh-spacing(2);
  }
}

.ofh-summary-list__actions {
  margin-bottom: ofh-spacing(3);

  @include mq($from: tablet) {
    padding-right: 0;
    text-align: right;
    width: 20%;
  }
}

.ofh-summary-list__key,
.ofh-summary-list__value {
  /* [3] */
  overflow-wrap: break-word;
  word-wrap: break-word; /* [4] */
}

.ofh-summary-list__key {
  @include ofh-typography-weight-bold;

  margin-bottom: ofh-spacing(1);

  @include mq($from: tablet) {
    width: 30%;
  }
}

.ofh-summary-list__value {
  @include mq($until: tablet) {
    margin-bottom: ofh-spacing(3);
  }
  @include mq($from: tablet) {
    width: 50%;
  }
}

.ofh-summary-list__value > p {
  margin-bottom: ofh-spacing(2);
}

.ofh-summary-list__value > :last-child {
  margin-bottom: 0;
}

.ofh-summary-list__actions-list {
  margin: 0; /* [2] */
  padding: 0; /* [2] */
  width: 100%;
}

.ofh-summary-list__actions-list-item {
  display: inline;
  margin-right: ofh-spacing(2);
  padding-right: ofh-spacing(2);
}

.ofh-summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid $ofh-border-color;
}

.ofh-summary-list__actions-list-item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.ofh-summary-list--no-border {
  .ofh-summary-list__key,
  .ofh-summary-list__value,
  .ofh-summary-list__actions,
  .ofh-summary-list__row {
    border: 0;
  }
}
