/* ==========================================================================
   #TAG
   ========================================================================== */

/* stylelint-disable color-no-hex */

.ofh-tag {
  @include ofh-font($size: "paragraph-small", $weight: bold, $line-height: 1);

  background-color: $ofh-color-brand-blue-royal-5;
  color: $ofh-color-greyscale-white;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: ofh-spacing(1) ofh-spacing(2) ofh-spacing(1) ofh-spacing(2); /* top right bottom left */
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .ofh-tag {
    font-size: 1rem;
    line-height: 1;
  }
}

/* Colour variants
  ========================================================================== */

.ofh-tag--grey {
  background-color: $ofh-color-greyscale-6;
  color: $ofh-color-greyscale-2;
  outline: 1px solid $ofh-color-greyscale-4;
  outline-offset: -1px;
}

.ofh-tag--green {
  background-color: $ofh-color-brand-green-lime-5;
  color: $ofh-color-brand-green-teal-1;
}

.ofh-tag--blue {
  background-color: $ofh-color-brand-blue-royal-5;
  color: $ofh-color-brand-blue-royal-1;
}

.ofh-tag--red {
  background-color: $ofh-color-brand-red-5;
  color: $ofh-color-brand-red-1;
}

.ofh-tag--yellow {
  background-color: $ofh-color-brand-yellow-5;
  color: $ofh-color-brand-orange-1;
}
