/* ==========================================================================
   STYLES / #ICONS-MATERIAL
   ========================================================================== */

.ofh-icon {
  color: currentColor;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  height: $ofh-iconography-24;
  vertical-align: middle;
  width: $ofh-iconography-24;
}

.ofh-icon--16 {
  height: $ofh-iconography-16;
  width: $ofh-iconography-16;
}

.ofh-icon--24 {
  height: $ofh-iconography-24;
  width: $ofh-iconography-24;
}

.ofh-icon--32 {
  height: $ofh-iconography-32;
  width: $ofh-iconography-32;
}

.ofh-icon--material {
  overflow: visible;
}
