/* ==========================================================================
   STYLES / #ICONS-MATERIAL
   ========================================================================== */

.ofh-icon {
  color: currentColor;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.ofh-icon--16 {
  height: 16px;
  width: 16px;
}

.ofh-icon--24 {
  height: 24px;
  width: 24px;
}

.ofh-icon--32 {
  height: 32px;
  width: 32px;
}

.ofh-icon--material {
  overflow: visible;
}
