/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.

// @example scss
//  .foo {
//   @extend %ofh-heading-xl;
//  }

%ofh-heading-xl {
  @include ofh-typography-responsive('heading-xl');

  display: block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;

  @include ofh-responsive-margin(40, 'bottom');
}

h1,
.ofh-heading-xl {
  @extend %ofh-heading-xl;
}

%ofh-heading-lg {
  @include ofh-typography-responsive('heading-lg');

  display: block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

h2,
.ofh-heading-lg {
  @extend %ofh-heading-lg;
}

%ofh-heading-md {
  @include ofh-typography-responsive('heading-md');

  display: block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

h3,
.ofh-heading-md {
  @extend %ofh-heading-md;
}

%ofh-heading-sm {
  @include ofh-typography-responsive('heading-sm');

  display: block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

h4,
.ofh-heading-sm {
  @extend %ofh-heading-sm;
}

%ofh-heading-xs {
  @include ofh-typography-responsive('heading-xs');

  display: block;
  font-weight: $ofh-typography-weight-semibold;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

h5,
.ofh-heading-xs {
  @extend %ofh-heading-xs;
}

h6 {
  @extend %ofh-heading-xs;
}

/* Captions to be used inside headings */

.ofh-caption-xl {
  @include ofh-font('heading-lg');

  color: $ofh-color-foreground-secondary;
  display: block;
  margin-bottom: $ofh-size-4;
}

.ofh-caption-l {
  @include ofh-font('heading-md');

  color: $ofh-color-foreground-secondary;
  display: block;
  margin-bottom: $ofh-size-4;
}

.ofh-caption-m {
  @include ofh-font('paragraph-md');

  color: $ofh-color-foreground-secondary;
  display: block;
}

.ofh-caption--bottom {
  margin-bottom: $ofh-size-0;
  margin-top: $ofh-size-4;
}

/* Body (paragraphs) */

%ofh-body-l {
  @include ofh-typography-responsive('lead-md');

  display: block;
  margin-top: 0;

  @include ofh-responsive-margin(24, 'bottom');
}

.ofh-body-l {
  @extend %ofh-body-l;
}

%ofh-body-m {
  @include ofh-typography-responsive('paragraph-md');

  display: block;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

p,
.ofh-body-m {
  @extend %ofh-body-m;

  color: inherit;
}

%ofh-body-s {
  @include ofh-typography-responsive('paragraph-sm');

  display: block;
  margin-top: 0;

  @include ofh-responsive-margin(16, 'bottom');
}

.ofh-body-s {
  @extend %ofh-body-s;
}

address {
  @extend %ofh-body-m;

  font-style: normal;
}

/**
 * Lede text
 *
 * 1. Apply lede text styling to p and ul within the lede element
 * 2. Reduces the spacing between the page heading and the lede text
 */

.ofh-lede-text {
  @include ofh-font('lead-md');
  @include ofh-responsive-margin(40, 'bottom');

  /* [1] */

  p,
  ul {
    @include ofh-font('lead-md');
  }
}

.ofh-lede-text--small {
  @include ofh-font('paragraph-md');
  @include ofh-responsive-margin(24, 'bottom');
}

/* [2] */
h1 + .ofh-lede-text,
h1 + .ofh-lede-text--small {
  margin-top: - $ofh-size-8;
}

/**
 * Contextual adjustments
 *
 * Add top padding to headings that appear directly after paragraphs.
 *
 * 1. Removes the padding-top because of the lede-text's increased margin-bottom
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/nhsuk-frontend
 */

%ofh-body-l + %ofh-heading-lg {
  padding-top: $ofh-size-4;

  @include mq($from: tablet) {
    padding-top: $ofh-size-8;
  }
}

%ofh-body-m + %ofh-heading-lg,
%ofh-body-s + %ofh-heading-lg,
%ofh-list + %ofh-heading-lg {
  @include ofh-responsive-padding(16, 'top');
}

%ofh-body-m + %ofh-heading-md,
%ofh-body-s + %ofh-heading-md,
%ofh-list + %ofh-heading-md,
%ofh-body-m + %ofh-heading-sm,
%ofh-body-s + %ofh-heading-sm,
%ofh-list + %ofh-heading-sm {
  padding-top: $ofh-size-4;

  @include mq($from: tablet) {
    padding-top: $ofh-size-8;
  }
}

/* [1] */
.ofh-lede-text + %ofh-heading-lg {
  padding-top: 0;
}

/* Font weight for <strong> and <b> */

strong,
b {
  font-weight: $ofh-typography-weight-semibold;
}
