{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Checkboxes with disabled item' %}
{% from 'packages/components/checkboxes/macro.njk' import checkboxes %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ checkboxes({
            "name": "colours",
            "items": [
              {
                "value": "red",
                "text": "Red"
              },
              {
                "value": "green",
                "text": "Green"
              },
              {
                "value": "blue",
                "text": "Blue",
                "disabled": true
              }
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
