{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Back link' %}
{% from 'packages/components/back-link/macro.njk' import backLink %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ backLink({
            "href": "#",
            "text": "Go back"
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
