/* ==========================================================================
   OBJECTS / #MAIN-WRAPPER
   ========================================================================== */

/**
 * Page wrapper for the grid system
 *
 * Usage:
 * <div class="ofh-width-container">
 *   <div class="ofh-main-wrapper">
 *    <!-- Wrapper for the main content of your page which applies padding
 *         to the top / bottom -->
 *   </div>
 * </div>
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. In IE11 the `main` element can be used, but is not recognized  –
 *    meaning it's not defined in IE's default style sheet,
 *    so it uses CSS initial value, which is inline.
 */

@mixin govuk-main-wrapper {
  @include ofh-responsive-padding(7, 'top');
  @include ofh-responsive-padding(7, 'bottom');
  @include top-and-bottom();

  display: block; /* [1] */
}

@mixin govuk-main-wrapper--l {
  @include ofh-responsive-padding(8, 'top');
}

@mixin govuk-main-wrapper--s {
  @include ofh-responsive-padding(5, 'bottom');
  @include ofh-responsive-padding(5, 'top');
}

@include govuk-exports('govuk/objects/main-wrapper') {
  .ofh-main-wrapper {
    @include govuk-main-wrapper;

    min-height: calc(100vh - 325px);

    @include mq($until: desktop) {
      min-height: calc(100vh - 480px);
    }

    @include mq($until: mobile) {
      min-height: calc(100vh - 600px);
    }
  }

  .ofh-main-wrapper--l {
    @include govuk-main-wrapper--l;
  }

  .ofh-main-wrapper--s {
    @include govuk-main-wrapper--s;
  }
}
