{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Tables' %}
{% from 'components/tables/macro.njk' import table %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ table({
            panel: true,
            heading: "Conditions similar to impetigo",
            caption: "Other possible causes of your symptoms",
            captionClasses: "ofh-u-visually-hidden",
            firstCellIsHeader: false,
            head: [
              {
                text: "Symptoms"
              },
              {
                text: "Possible cause"
              }
            ],
            rows: [
              [
                {
                  text: "Blisters on lips or around the mouth"
                },
                {
                  text: "cold sores"
                }
              ],
              [
                {
                  text: "Itchy, dry, cracked, sore"
                },
                {
                  text: "eczema"
                }
              ],
              [
                {
                  text: "Itchy blisters"
                },
                {
                  text: "shingles, chickenpox"
                }
              ]
            ]
          }) }}
        </div>
      </div>

    </main>
  </div>

{% endblock %}
