{% from 'components/date-input/macro.njk' import dateInput %}

{{ dateInput({
  "id": "dob-errors",
  "fieldset": {
    "legend": {
      "text": "What is your date of birth?",
      "classes": "ofh-label--l",
      "isPageHeading": true
    }
  },
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "errorMessage": {
    "text": "Enter your date of birth"
  },
  "items": [
    {
      "name": "day",
      "classes": "ofh-input--width-2 ofh-input--error"
    },
    {
      "name": "month",
      "classes": "ofh-input--width-2 ofh-input--error"
    },
    {
      "name": "year",
      "classes": "ofh-input--width-4 ofh-input--error"
    }
  ]
}) }}
