/* ==========================================================================
   COMPONENTS/ #CHECKBOXES
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$ofh-checkboxes-size: ofh-spacing(6);
$ofh-checkboxes-label-padding-left-right: 12px;

.ofh-checkboxes__item {
  @include ofh-font(19);

  clear: left;
  display: block;
  margin-bottom: ofh-spacing(2);
  min-height: $ofh-checkboxes-size;
  padding: 0 0 0 $ofh-checkboxes-size;
  position: relative;
}

.ofh-checkboxes__item:last-child,
.ofh-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.ofh-checkboxes__input {
  cursor: pointer;
  height: $ofh-checkboxes-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $ofh-checkboxes-size;
  z-index: 1;
}

.ofh-checkboxes__label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $ofh-checkboxes-label-padding-left-right ofh-spacing(1);
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation;
}

.ofh-checkboxes__hint {
  display: block;
  padding-left: $ofh-checkboxes-label-padding-left-right;
  padding-right: $ofh-checkboxes-label-padding-left-right;
}

.ofh-checkboxes__input + .ofh-checkboxes__label::before {
  background: $ofh-input-element-background-color;
  border: $ofh-border-width-form-element solid $ofh-input-border-color;
  box-sizing: border-box;
  content: '';
  height: $ofh-checkboxes-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $ofh-checkboxes-size;
}

.ofh-checkboxes__input + .ofh-checkboxes__label::after {
  background: transparent;
  border: solid;
  border-top-color: transparent;
  border-width: 0 0 $ofh-border-width $ofh-border-width;
  content: '';
  height: 10px;
  left: 10px;
  opacity: 0; /* 2 */
  position: absolute;
  top: 13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 22px;
}

/*
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.ofh-checkboxes__input:focus + .ofh-checkboxes__label::before {
  @include ofh-focused-checkbox();
}

/* Selected state */

.ofh-checkboxes__input:checked + .ofh-checkboxes__label::after {
  opacity: 1;
}

/* Disabled state */

.ofh-checkboxes__input:disabled,
.ofh-checkboxes__input:disabled + .ofh-checkboxes__label {
  cursor: default;
}

.ofh-checkboxes__input:disabled + .ofh-checkboxes__label {
  opacity: .5;
}

/* Divider variant */

.ofh-checkboxes__divider {
  $ofh-divider-size: $ofh-checkboxes-size !default;
  @include ofh-font(19);

  color: $ofh-text-black-color;
  margin-bottom: ofh-spacing(2);
  text-align: center;
  width: $ofh-divider-size;
}

/*
 * Conditional
 *
 * 1. Calculate the amount of padding needed to keep the border
 *    centered against the checkbox.
 * 2. Move the border centered with the checkbox.
 * 3. Move the contents of the conditional inline with the label.
 */

$conditional-border-width: $ofh-border-width-mobile;
$conditional-border-padding: ($ofh-checkboxes-size * .5) - ($conditional-border-width * .5); /* 1 */
$conditional-margin-left: $conditional-border-padding; /* 2 */
$conditional-padding-left: $conditional-border-padding + $ofh-checkboxes-label-padding-left-right; /* 3 */

.ofh-checkboxes__conditional {
  @include ofh-responsive-margin(4, 'bottom');

  border-left: $conditional-border-width solid $ofh-input-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .ofh-checkboxes__conditional--hidden {
  display: none;
}
