/* ==========================================================================
   COMPONENTS / #SKIP-LINK
   ========================================================================== */

/**
 * 1. Hides the skip link off the page,
 * 2. until the link gains focus from keyboard tabbing.
 */

.ofh-skip-link {
  @include ofh-typography-responsive('paragraph-sm');

  background-color: $ofh-color-greyscale-white;
  color: $ofh-color-foreground-link-default;
  left: -9999px; /* [1] */
  padding: $ofh-size-8;
  position: absolute;
  text-decoration: none;

  &:active,
  &:focus {
    color: $ofh-color-foreground-link-hover;
    left: $ofh-size-16; /* [2] */
    outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;
    outline-offset: $ofh-stroke-weight-4;
    top: $ofh-size-16;
    z-index: 2;
  }

  &:visited {
    color: $ofh-color-foreground-primary;
  }
}
