/* ==========================================================================
   #HEALTH-A-Z
   ========================================================================== */

/**
 * Custom style for the content style guide
 */

.app-style-guide-a-z {

  .ofh-a-z-list--results-items {
    @include ofh-responsive-margin(9, 'bottom');
  }

  .ofh-back-to-top__link {
    margin-left: 0;
  }

  h2 {
    background: $color_ofh-brand-blue;
    color: $ofh-text-white-color;
    display: inline-block;
    padding: ofh-spacing(2) + $ofh-box-shadow-link;
  }

}
