/* ==========================================================================
   #RELATED-NAV
   ========================================================================== */

.ofh-related-nav {
  border-top: 2px solid $color_ofh-blue;

  @include mq($until: desktop) {
    margin-top: ofh-spacing(7);
  }
}

.ofh-related-nav__heading {
  @include ofh-typography-responsive(24, $override-line-height: 1.2);

  margin-bottom: ofh-spacing(3);
  padding-top: ofh-spacing(3);
}

.ofh-related-nav__heading--small {
  @include ofh-typography-responsive(19);
}

.ofh-related-nav__list {
  list-style: none;
  margin-bottom: ofh-spacing(3);
  padding-left: ofh-spacing(0);
}

.ofh-related-nav__item {
  @include ofh-typography-responsive(16);
}

.ofh-related-nav__sub-heading {
  @include ofh-responsive-margin(2, 'bottom');
  @include ofh-responsive-padding(2, 'top');
  @include ofh-typography-responsive(19, $override-line-height: 1.2);
}
