/* ==========================================================================
   COMPONENTS/ #ERROR-SUMMARY
   ========================================================================== */

.ofh-error-summary {
  @include ofh-responsive-padding(6);
  @include ofh-responsive-margin(9, 'bottom');

  border: $ofh-stroke-weight-4 solid $ofh-color-feedback-error-2-main;

  @include govuk-media-query($from: tablet) {
    border: $ofh-stroke-weight-4 solid $ofh-color-feedback-error-2-main;
  }
}

.ofh-error-summary__title {
  @include ofh-font('h3', $weight: bold);

  margin-top: 0;

  @include ofh-responsive-margin(5, 'bottom');
}

.ofh-error-summary__body {
  @include ofh-font('paragraph');

  p {
    margin-top: 0;

    @include ofh-responsive-margin(5, 'bottom');
  }
}

.ofh-error-summary__list {
  margin-bottom: 0;
  margin-top: 0;
}

.ofh-error-summary__list a {
  @include ofh-typography-weight-bold;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $ofh-color-feedback-error-2-main;
  }

  &:focus {
    @include ofh-focused-text();
  }
}
