{% from 'packages/components/breadcrumb/macro.njk' import breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/get-started",
      text: "Info and getting started"
    }
  ],
  href:"/guidance-for-dev",
  text: "Guidance for developers",
  classes: "app-breadcrumb"
}) }}
