/* ==========================================================================
   COMPONENTS/ #TASK-LIST
   ========================================================================== */

/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 */

.ofh-task-list {
  @include ofh-font($size: 19);

  list-style-type: none;
  margin-top: 0;
  padding: 0;

  @include ofh-responsive-margin(6, 'bottom');
}

.ofh-task-list__item {
  border-bottom: 1px solid $ofh-border-color;
  display: table;
  margin-bottom: 0;
  padding-bottom: ofh-spacing(2);
  padding-top: ofh-spacing(2);
  position: relative;
  width: 100%;
}

.ofh-task-list__item:first-child {
  border-top: 1px solid $ofh-border-color;
}

.ofh-task-list__name-and-hint {
  color: $ofh-text-black-color;
  display: table-cell;
  vertical-align: top;
}

.ofh-task-list__status {
  color: $ofh-text-black-color;
  display: table-cell;
  padding-left: 10px;
  text-align: right;
  vertical-align: top;
}

// This adds an empty transparent box covering the whole row, including the task status and
// any hint text. Because this is generated within the link element, this allows the whole area
// to be clickable.
.ofh-task-list__link::after {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ofh-task-list__hint {
  color: $ofh-text-grey-color;
  margin-top: 5px;
}
