/* ==========================================================================
   COMPONENTS / #SKIP-LINK
   ========================================================================== */

/**
 * 1. Hides the skip link off the page,
 * 2. until the link gains focus from keyboard tabbing.
 */

.ofh-skip-link {
  background-color: $color_ofh-white;
  left: -9999px; /* [1] */
  padding: ofh-spacing(2);
  position: absolute;

  &:active,
  &:focus {
    left: ofh-spacing(3); /* [2] */
    top: ofh-spacing(3);
    z-index: 2;
  }

  &:visited {
    color: $ofh-text-black-color;
  }

}
