{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Button as a link' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ button({
            "text": "Link button",
            "href": "/design-system-toolkit/"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
