{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Button reverse' %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.njk' %}

{% block body %}

<section style="background-color: #005eb8;">
  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ button({
            "text": "Save and continue",
            "classes": "ofh-button--reverse"
          }) }}
        </div>
      </div>
    </main>
  </div>
</section>

{% endblock %}
