{% from 'packages/components/tag/macro.njk' import tag %}

 <table class="ofh-table">
  <thead class="ofh-table__head">
    <tr class="ofh-table__row">
      <th class="ofh-table__header" scope="col">Class name</th>
      <th class="ofh-table__header" scope="col" style="width: 120px">Tag</th>
    </tr>
  </thead>
  <tbody class="ofh-table__body">
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        <code> ofh-tag--grey </code>
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Inactive",
          classes: "ofh-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        <code> ofh-tag--green </code>
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "In progress",
          classes: "ofh-tag--green"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        <code> ofh-tag--blue </code>
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Ready",
          classes: "ofh-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        <code> ofh-tag--red </code>
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Cancelled",
          classes: "ofh-tag--red"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        <code> ofh-tag--Yellow </code>
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Delayed",
          classes: "ofh-tag--yellow"
        })}}
      </td>
    </tr>
  </tbody>
</table>
