{% set title = 'About' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}

{% extends 'page.njk' %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb({
    href: "../",
    text: "Our Future Health design system toolkit"
  }) }}
{% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="ofh-u-reading-width">

    <h2>Contributing</h2>
    <p>Please see our <a href="https://github.com/ourfuturehealth/design-system-toolkit/blob/main/CONTRIBUTING.md">contributing guidelines</a> on how to set up the project locally and contribute changes to Our Future Health design system toolkit.</p>

  </div>

{% endblock %}
