{% from 'packages/components/breadcrumb/macro.njk' import breadcrumb %}
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/get-started",
  text: "Get started",
  classes: "app-breadcrumb"
}) }}
