{% from 'packages/components/card/macro.njk' import card %}

{% set pageTitle = "What is the design system?" %}
{% set pageDescription = "Information about the Our Future Health design system, its origins, and where you can find the various components" %}
{% set dateUpdated = "October 2024" %}
{% set pageSection = "What is the design system?" %}
{% set subSection = "Get started" %}
{# {% set theme = "Design" %} #}
{% set hideContact = "true" %}
{% set hideBreadcrumb = "true" %}

{% extends "app-layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block bodyContent %}

    <h2>About our design system</h2>
    <p>Our design system is forked from the <a href="https://service-manual.nhs.uk/design-system">NHS Design System</a> in summer 2023. We have modified and adapted it to suit our needs within Our Future Health. It will change and evolve over time as our requirements change.</p>
    <p>Our design system, like all our products, must achieve <a href="">WCAG 2.1 AA-compliance</a>.</p>

    <h3>Major pieces of our design system</h3>
          
    <ul class="ofh-grid-row ofh-card-group">
      <li class="ofh-grid-column-one-half ofh-card-group__item">
        {{ card({
          "href": "https://www.figma.com/file/nxk6i2mSprkAZmUNhjnkYY/OFH-design-system?type=design&node-id=127%3A4305&mode=design&t=nEdV27ogjIiIIJSG-1",
          "clickable": "true",
          "heading": "Design toolkit (Figma)",
          "headingClasses": "ofh-heading-m",
          "description": "Primary tool for creating, editing, and testing prototypes"
        }) }}
      </li>
      <li class="ofh-grid-column-one-half ofh-card-group__item">
        {{ card({
          "href": "https://github.com/ourfuturehealth/design-system-toolkit",
          "clickable": "true",
          "heading": "Dev toolkit (Github)",
          "headingClasses": "ofh-heading-m",
          "description": "Used to integrate our design system into our digital products"
        }) }}
      </li>
      <li class="ofh-grid-column-one-half ofh-card-group__item">
        {{ card({
          "href": "#",
          "clickable": "true",
          "heading": "Docs (this site)",
          "headingClasses": "ofh-heading-m",
          "description": "Contains guidance and code for developers and designers."
        }) }}
      </li>
      <li class="ofh-grid-column-one-half ofh-card-group__item">
        {{ card({
          "href": "https://ourfuturehealth.atlassian.net/jira/software/projects/DSE/boards/9",
          "clickable": "true",
          "heading": "Jira and confluence",
          "headingClasses": "ofh-heading-m",
          "description": "Track changes and project status. Access required."
        }) }}
      </li>
    </ul>
    
<div class="app-index-navigation app-u-hide-desktop">
  {% include "_side-nav.njk" %}
</div>

{% endblock %}
