/* ==========================================================================
    COMPONENTS / #BREADCRUMB
   ========================================================================== */

/**
 * 1. Bespoke spacing numbers used as there is no 12px
 *    spacing mapped in settings/spacing.
 * 2. Hide the breadcrumb on print stylesheets.
 * 3. Don't show the full breadcrumb below tablet size.
 * 4. Typography sizing mixin, see core/tools/_typography
 * 5. and core/settings/_typography for size maps.
 * 5. .. but show a back to index page link.
 * 6. Remove spacing between back icon and label.
 * 7. Custom padding for the chevron separator icon.
 */

.ofh-breadcrumb {
  @include print-hide();

  padding-bottom: 12px; /* [1] */
  padding-top: 12px; /* [1] */

  .ofh-breadcrumb__separator {
    fill: $ofh-color-greyscale-2;
    height: 18px;
    position: relative;
    top: 5px;
    width: 18px;

    @include mq($from: large-desktop) {
      margin: 0 3px 0 5px;
    }
  }

  .ofh-breadcrumb__back-icon {
    height: 24px;
    left: -2px;
    margin-right: 2px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 24px;
  }
}

.ofh-breadcrumb__list {
  @include mq($until: tablet) {
    display: none; /* [3] */
  }

  list-style: none;
  margin: 0;
  padding: 0;
}

.ofh-breadcrumb__item {
  @include ofh-font('paragraph-small'); /* [4] */

  display: inline-block;
  margin-bottom: 0;

  .ofh-breadcrumb__separator {
    color: $ofh-color-greyscale-2;
    display: inline-block;
    margin-left: 10px;
    margin-right: 2px;
    vertical-align: middle;
  }
}

.ofh-breadcrumb__link {
  color: $ofh-color-foreground-breadcrumb-default;

  &:visited {
    color: $ofh-color-foreground-breadcrumb-visited;

    &:hover {
      color: $ofh-color-foreground-breadcrumb-hover;
    }
  }

  &:focus {
    &:hover {
      color: $ofh-color-foreground-breadcrumb-hover;
    }
  }

  &:active {
    color: $ofh-color-foreground-breadcrumb-active;
  }
}

.ofh-breadcrumb__back {
  @include ofh-font('paragraph-small'); /* [4] */

  margin: 0;
  padding-left: 0;
  position: relative;

  @include mq($from: tablet) {
    display: none; /* [5] */
  }

}

.ofh-breadcrumb__backlink {
  color: $ofh-color-foreground-breadcrumb-default;

  &:visited {
    color: $ofh-color-foreground-breadcrumb-visited;

    &:hover {
      color: $ofh-color-foreground-breadcrumb-hover;
    }
  }

  &:focus {
    &:hover {
      color: $ofh-color-foreground-breadcrumb-hover;
    }
  }

  &:active {
    color: $ofh-color-foreground-breadcrumb-active;
  }
}
