{% from 'packages/components/tag/macro.njk' import tag %}

<table class="ofh-table">
  <thead class="ofh-table__head">
    <tr class="ofh-table__row">
      <th class="ofh-table__header" scope="col"> Application </th>
      <th class="ofh-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="ofh-table__body">
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Leo Cashin
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Urgent",
          classes: "ofh-tag--red"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Amy Louth
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "New",
          classes: "ofh-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Barbara Angel
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "New",
          classes: "ofh-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Annette Armstrong
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "New",
          classes: "ofh-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Vishal Gurudutt
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "New",
          classes: "ofh-tag--blue"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Rachel Preece
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Finished",
          classes: "ofh-tag--green"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Tom Hunter
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Waiting on",
          classes: "ofh-tag--yellow"
        })}}
      </td>
    </tr>
    <tr class="ofh-table__row">
      <td class="ofh-table__cell">
        Davide Smith
      </td>
      <td class="ofh-table__cell">
        {{ tag({
          text: "Expired",
          classes: "ofh-tag--navy"
        })}}
      </td>
    </tr>

  </tbody>
</table>
