/* ==========================================================================
   COMPONENTS/ #STATUS-FLAG
   ========================================================================== */
.ofh-status-flag {
  @include ofh-responsive-padding(16);
  @include ofh-responsive-margin(48, 'bottom');

  border: $ofh-stroke-weight-4 solid $ofh-color-brand-blue-royal-3-main;

  @include govuk-media-query($from: tablet) {
    border: $ofh-stroke-weight-4 solid $ofh-color-brand-blue-royal-3-main;
  }

  &:focus {
    border: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;
    box-shadow: 0 0 0 $ofh-stroke-weight-4 $ofh-color-border-feedback-focus;
    outline: $ofh-stroke-weight-4 solid transparent;
  }
}

.ofh-status-flag__title {
  @include ofh-font('heading-md', $weight: bold);

  margin-top: 0;
}

.ofh-status-flag__body {
  @include ofh-font('paragraph-md');
}
