/* ==========================================================================
   COMPONENTS / #DETAILS
   ========================================================================== */

/**
 * Details component.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. N/A
 * 2. Make the focus outline shrink-wrap the text content of the summary
 * 3. Absolutely position the marker against this element
 * 3. Allow for absolutely positioned marker and align with disclosed text
 * 4. Only underline the text, not the arrow
 * 5. Remove the default details marker so we can style our own consistently and
 *    ensure it displays in Firefox
 * 6. Custom padding to left align the details text with the summary
 */

.ofh-details {
  @include ofh-responsive-margin(5, 'bottom');
  @include ofh-typography-responsive('paragraph');

  display: block;
}

.ofh-details__summary {
  color: $ofh-color-foreground-link-default;
  cursor: pointer;
  display: inline-block; /* [2] */
  padding-left: ofh-spacing(5);
  position: relative; /* [3] */

  &:hover {
    color: $ofh-color-foreground-link-hover;
  }

  &::before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;

    @include govuk-shape-arrow($direction: right, $base: 14px);
  }

  &:focus {
    @include ofh-focused-text();

    .ofh-icon {
      fill: $ofh-color-foreground-brand-blue-navy;
    }
  }

  &:hover,
  &:focus {
    .ofh-details__summary-text {
      text-decoration: none;
    }
  }
}

.ofh-details[open] > .ofh-details__summary::before {
  @include govuk-shape-arrow($direction: down, $base: 14px);
}

.ofh-details__summary-text {
  text-decoration: underline; /* [4] */
}

.ofh-details__summary::-webkit-details-marker {
  display: none; /* [5] */
}

.ofh-details__text {
  border-left: ofh-spacing(2) solid $ofh-color-greyscale-5;
  margin-top: ofh-spacing(3);
  padding: ofh-spacing(4);
  padding-left: 20px; /* [6] */

  @include top-and-bottom();
}

/**
 * Expander variation.
 *
 * 1. !important used because the icon is populated
 *    by the JavaScript polyfill
 * 2. Remove the default hover, focus and active
 *    styles for this component.
 * 3. -2px left margin to align the icon to the content.
 * 4. When a group of details is used reduce the
 *    margin between them so they sit together.
 */

$expander-border-width: 1px;
$expander-border-bottom-width: ofh-spacing(2);
$expander-border-color: $ofh-color-greyscale-5;
$expander-border-hover-color: $ofh-color-greyscale-4;

.ofh-expander {
  background-color: $ofh-color-greyscale-white;
  border: $expander-border-width solid $expander-border-color;
  border-bottom-width: $expander-border-bottom-width;

  &:hover {
    border-color: $expander-border-hover-color;
  }

  .ofh-details__summary {
    background-color: $ofh-color-greyscale-white;
    border-top: $ofh-stroke-weight-4 solid transparent;
    display: block;
    padding: ofh-spacing(5) - $ofh-stroke-weight-4 ofh-spacing(5) ofh-spacing(5);

    @include mq($until: tablet) {
      padding: ofh-spacing(4) - $ofh-stroke-weight-4 ofh-spacing(4) ofh-spacing(4);
    }

    &::before {
      display: none !important; /* stylelint-disable-line declaration-no-important */ /* [1] */
    }

    &:hover {
      .ofh-details__summary-text {
        color: $ofh-color-foreground-link-hover;
      }
    }

    &:focus {
      box-shadow: none;
      outline: none;

      .ofh-details__summary-text {
        @include ofh-focused-text();
      }

      .ofh-details__expander-icon {
        color: $ofh-color-foreground-brand-blue-navy;
      }
    }
  }

  .ofh-details__summary-text {
    cursor: pointer;
    display: inline-block;
    padding: ofh-spacing(2) ofh-spacing(2) ofh-spacing(2) ofh-spacing(6);
    position: relative;
  }

  .ofh-details__text {
    @include ofh-responsive-padding(5, 'bottom');
    @include ofh-responsive-padding(5, 'left');
    @include ofh-responsive-padding(5, 'right');
    @include ofh-responsive-padding(0, 'top');

    border-left: 0;
    margin-left: 0;
    margin-top: 0;
  }
}

.ofh-expander[open] {
  border-bottom-width: $expander-border-width;

  .ofh-details__summary {
    &:focus {
      &:hover {
        .ofh-details__summary-text {
          text-decoration: none;
        }
      }
    }
  }
}

.ofh-details__expander-icon {
  color: $ofh-color-foreground-link-default;
  height: 32px;
  left: -2px;
  position: absolute;
  top: calc(50% - 16px);
  width: 32px;
}

.ofh-details__expander-icon--collapse {
  display: none;
}

.ofh-expander[open] .ofh-details__expander-icon--expand {
  display: none;
}

.ofh-expander[open] .ofh-details__expander-icon--collapse {
  display: inline-block;
}

.ofh-expander-group {
  /* [4] */

  > .ofh-details {
    @include ofh-responsive-margin(2, 'bottom');
  }

  @include ofh-responsive-margin(5, 'bottom');
}

.ofh-details + %ofh-heading-l {
  @include ofh-responsive-padding(5, 'top');
}
