/* ==========================================================================
   COMPONENTS / #PAGINATION
   ========================================================================== */

/**
 * 1. Padding to give the icon spacing.
 * 2. Append the word 'page' after next and
 *    previous on print stylesheets to make it easier
 *    to understand in print context.
 */

.ofh-pagination {
  @include ofh-responsive-margin(40, 'top');
  @include ofh-responsive-margin(40, 'bottom');
}

.ofh-pagination__list {
  display: flex;
  width: 100%;

  > li {
    margin-bottom: 0;
  }
}

.ofh-pagination-item--previous {
  flex: 0 0 auto;
  text-align: left;

  .ofh-icon {
    left: -4px;
  }

  .ofh-pagination__title {
    padding-left: $ofh-size-32; /* [1] */
  }
}

.ofh-pagination-item--next {
  flex: 0 0 auto;
  margin-left: auto;
  text-align: right;

  .ofh-icon {
    right: -4px;
  }

  .ofh-pagination__title {
    padding-right: $ofh-size-32; /* [1] */
  }
}

.ofh-pagination__link {
  color: $ofh-color-foreground-link-default;
  display: inline-block;
  position: relative;
  text-decoration: none;

  @include mq($media-type: print) {
    color: $ofh-color-foreground-primary;
  }

  .ofh-icon {
    color: $ofh-color-brand-blue-navy-3-main;
    position: absolute;
    top: 0;

    @include mq($media-type: print) {
      color: $ofh-color-foreground-primary;
      margin-top: 0;
    }
  }

  &:hover {
    color: $ofh-color-foreground-link-hover;

    .ofh-pagination__page {
      text-decoration: none;
    }
  }

  &:focus {
    @include ofh-focused-button;

    color: $ofh-color-foreground-link-active;

    .ofh-pagination__page {
      text-decoration: none;
    }
  }

  &:visited {
    color: $ofh-color-foreground-link-visited;

    &:hover {
      color: $ofh-color-foreground-link-hover;

      .ofh-pagination__page {
        text-decoration: none;
      }
    }

    &:focus {
      color: $ofh-color-foreground-link-active;

      .ofh-pagination__page {
        text-decoration: none;
      }
    }
  }

  &:active {
    color: $ofh-color-foreground-link-active;
  }
}

.ofh-pagination__title {
  @include ofh-typography-responsive('lead-md');

  color: $ofh-color-brand-blue-navy-3-main;
  display: block;

  @include mq($media-type: print) {
    &::after {
      content: ' page'; /* [2] */
    }
  }
}

.ofh-pagination__page {
  @include ofh-typography-responsive('paragraph-sm');

  color: inherit;
  display: block;
  text-decoration: underline;
}
