// ==========================================================================
// TOOLS / #FOCUSED
// ==========================================================================


// Focused text

// Provides an outline to clearly indicate when the target element is focused.
// Used for interactive text-based elements.


@mixin ofh-focused-text {
  outline: 3px solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: 1px;
  text-decoration: none;
}

/// Focused input (form elements)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used for interactive input-based elements such
/// as text inputs.

@mixin ofh-focused-input {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused radio input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by radios.

@mixin ofh-focused-radio {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;

  /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused checkbox input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by checkbox.

@mixin ofh-focused-checkbox {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused button
///
/// Provides an additional outline and background to clearly indicate when
/// the target element has focus. Used for buttons.

@mixin ofh-focused-button {
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}
