// ==========================================================================
// TOOLS / #FOCUSED
// ==========================================================================

// Focused text

// Provides an outline to clearly indicate when the target element is focused.
// Used for interactive text-based elements.

@mixin ofh-focused-text {
  outline: 3px solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: 1px;
  text-decoration: none;
}

/// Emphasised input border
///
/// Creates a thicker visual input border without changing layout.

@mixin ofh-emphasised-input-border($color) {
  border-color: $color;
  box-shadow: inset 0 0 0 $ofh-stroke-weight-2 $color;
}

/// Focused input (form elements)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used for interactive input-based elements such
/// as text inputs.

@mixin ofh-focused-input {
  @include ofh-emphasised-input-border($ofh-color-border-input-active);

  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused radio input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by radios.

@mixin ofh-focused-radio {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;

  /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused checkbox input (form element)
///
/// Provides an additional outline and border to clearly indicate when
/// the target element has focus. Used by checkbox.

@mixin ofh-focused-checkbox {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused button
///
/// Provides an additional outline and background to clearly indicate when
/// the target element has focus. Used for buttons.

@mixin ofh-focused-button {
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}

/// Focused button (inverted)
///
/// Provides an additional outline to clearly indicate when the target element
/// has focus. Used for inverted/reverse button variants on dark backgrounds.

@mixin ofh-focused-button-inverted {
  outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus-inverted; /* 1 */
  outline-offset: $ofh-stroke-weight-4;
}
