/* ==========================================================================
   COMPONENTS/ #ACTION-LINK
   ========================================================================== */

.ofh-action-link {
  @include ofh-responsive-margin(24, 'bottom');
}

.ofh-action-link__link {
  @include ofh-font('heading-sm', $weight: bold);

  align-items: center;
  color: $ofh-color-foreground-link-default;
  display: inline-flex;
  gap: $ofh-size-8;
  text-decoration: none;

  &:visited {
    color: $ofh-color-foreground-link-default;
  }

  &:hover {
    color: $ofh-color-foreground-link-hover;
    text-decoration: underline;

    .ofh-action-link__text {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;
    outline-offset: $ofh-stroke-weight-4;
    text-decoration: none;

    .ofh-action-link__text {
      text-decoration: none;
    }
  }

  @include mq($media-type: print) {
    color: $ofh-color-foreground-primary;

    &:visited {
      color: $ofh-color-foreground-primary;
    }
  }
}

.ofh-action-link__icon {
  @include print-color($ofh-color-foreground-primary);

  color: $ofh-color-brand-yellow-3-main;
  flex: none;
}
