/* ==========================================================================
   COMPONENTS/ #HINT
   ========================================================================== */

.ofh-hint {
  @include ofh-font(19);

  color: $ofh-text-grey-color;
  display: block;
  margin-bottom: ofh-spacing(3);
}

// Reduces margin-bottom of hint when used after the default label (no class)
// or ofh-label--s for better vertical alignment.

// This adjustment will not work when the label is inside the <h1>, however it
// is unlikely that the default or ofh-label--s class would be used in this
// case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.ofh-label:not(.ofh-label--m):not(.ofh-label--l):not(.ofh-label--xl) + .ofh-hint {
  margin-bottom: ofh-spacing(2);
}

// Reduces visual spacing of label when there is a hint

.ofh-label--l + .ofh-hint,
.ofh-label--xl + .ofh-hint {
  margin-top: -(ofh-spacing(1));
}

// Reduces margin-bottom of hint when used after the default legend (no class)
// or ofh-fieldset__legend--s for better vertical alignment.

// This adjustment will not work when the legend is outside the <h1>, however
// it is unlikely that the default or ofh-fieldset__legend--s class would be
// used in this case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.ofh-fieldset__legend:not(.ofh-fieldset__legend--m):not(.ofh-fieldset__legend--l):not(.ofh-fieldset__legend--xl) + .ofh-hint {
  margin-bottom: ofh-spacing(2);
}

// Reduces visual spacing of legend when there is a hint

.ofh-fieldset__legend + .ofh-hint {
  margin-top: -(ofh-spacing(1));
}
