{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Error message' %}
{% from 'packages/components/error-message/macro.njk' import errorMessage %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          {{ errorMessage({
            "text": "Error message about full name goes here"
          }) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
