{% set pageTitle = "What's new" %}
{% set pageDescription = "Find out what's happening with the service manual." %}
{% set pageSection = "What's new" %}
{% set landingPage = true %}

{% extends "app-layout.njk" %}

{% block bodyContent %}

  <h2>Latest updates</h2>

<h3>May 2022</h3>

  <table class="ofh-table">
    <caption class="ofh-table__caption ofh-u-visually-hidden">Updates to the service manual in May 2022</caption>
      <thead class="ofh-table__head">
        <tr class="ofh-table__row">
          <th class="ofh-table__header" scope="col" style="width: 25%;">Section</th>
          <th class="ofh-table__header" scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="ofh-table__body">
       <tr>
        <td class="ofh-table__cell">Content style guide</td>
        <td class="ofh-table__cell">
        <p>Added a new <a href="/content/standard-for-creating-health-content">standard for creating health content</a>, developed with NHS England</p>
        <p>Made minor tweaks to the standard based on feedback after publication</p>
        <p>Added a link to Hemingway Editor tool from the <a href="/content/how-we-write">How we write page</a></p>
        <p>Removed a broken link from the <a href="/content/numbers-measurements-dates-time">Numbers, measurements, dates and time page</a></p>
      </td>
      </tr>
      <tr>
        <td class="ofh-table__cell">Other</td>
        <td class="ofh-table__cell">
          <p>Removed old blog posts from <a href="/standards-and-technology/service-standard-points/1-understand-users-and-their-needs-context-health-and-care">point 1 in the NHS service standard</a> and added recent posts</p>
          <p>Updated the <a href="/service-manual-team">service manual team page</a></p>
          <p>Updated the <a href="/site-map">site map</a></p>
          <p>Removed the feedback survey from the home page, footer and several other pages</p>
      </td>
      </tr>
    </tbody>
  </table>


  <p><a href="/whats-new/updates">See all updates</a></p>

  <h2>Latest blog posts</h2>
  <p>Posts by the service manual team and community.</p>

  <div class="ofh-grid-row ofh-card-group">
    <div class="ofh-grid-column-one-half ofh-card-group__item">
      <div class="ofh-card ofh-card--clickable">
        <img class="ofh-card__img" src="/assets/blog-post_20-year-old-standard-still-relevant.jpg" alt="">
        <div class="ofh-card__content">
          <h3 class="ofh-card__heading"><a href="https://digital.nhs.uk/blog/design-matters/2022/how-a-20-year-old-standard-is-still-relevant-today">How a 20-year-old standard is still relevant today</a></h3>
          </h3>
          <p class="ofh-card__metadata ofh-body-s ofh-u-secondary-text-color ofh-u-margin-bottom-0"><span class="ofh-u-visually-hidden">Published on: </span>8 March 2022</p>
          <p class="ofh-card__metadata ofh-body-s ofh-u-font-weight-bold">NHS Digital Design Matters blog</p>
          <p class="ofh-card__description">Tero Väänänen says BS EN ISO 9241-210 remains a guiding star for human-centred design. It's the foundation to our own NHS service standard and the GOV.UK service standard.</p>
        </div>
      </div>
    </div>
    <div class="ofh-grid-column-one-half ofh-card-group__item">
      <div class="ofh-card ofh-card--clickable">
        <img class="ofh-card__img" src="/assets/blog-post_head-of-design-nhsx.jpg" alt="">
        <div class="ofh-card__content">
          <h3 class="ofh-card__heading"><a href="https://www.kathryngrace.co.uk/post/a-new-role-as-head-of-design-at-nhsx">A new role as Head of Design at NHSX</a></h3>
          <p class="ofh-card__metadata ofh-body-s ofh-u-secondary-text-color ofh-u-margin-bottom-0"><span class="ofh-u-visually-hidden">Published on: </span>1 February 2022</p>
          <p class="ofh-card__metadata ofh-body-s ofh-u-font-weight-bold">Kathryn Grace's website</p>
          <p class="ofh-card__description">Kathryn Grace, Head of Design at NHSX (now part of the Transformation Directorate at NHS England), talks about leadership, design, a patient and carer's perspective, and the NHS digital service manual.</p>
        </div>
      </div>
    </div>
  </div>

  <p><a href="/whats-new/blog-posts">See all blog posts</a></p>

  <h2>Latest show and tell</h2>
  <div class="ofh-grid-row ofh-card-group">
    <div class="ofh-grid-column-full ofh-card-group__item">
      <div class="ofh-card">
        <div class="app-card__video">
          <iframe src="https://www.youtube-nocookie.com/embed/ZNrewVbVQbo" title="NHS digital service manual - show and tell 20 February 2020" allowfullscreen></iframe>
        </div>
        <div class="ofh-card__content">
          <h3 class="ofh-card__heading">NHS digital service manual show and tell</h3>
          <p class="ofh-card__metadata ofh-body-s ofh-u-secondary-text-color"><span class="ofh-u-visually-hidden">Recorded on: </span>13 February 2020</p>
          <p class="ofh-card__description">We live-streamed the show and tell but the original video quality was not very good. This video has the presentation slides with the live audio.</p>
          <p class="ofh-card__description">The team talks about the redesign of the service manual, how to write good questions for forms, inclusive language, the beta service standard for health and the NHS Digital accessibility lab in Leeds. The NHS Leadership Academy also share a Wordpress theme based on the NHS.UK frontend library.</p>
        </div>
      </div>
    </div>
  </div>

  <p><a href="/whats-new/show-and-tells">See all show and tells</a></p>

{% endblock %}
