/* ==========================================================================
   #CONTAINER
   ========================================================================== */

// Container width variable
$app-container-size: 1280px;

.app-width-container,
.app-breadcrumb .ofh-width-container {
  @include ofh-responsive-margin(32, 'horizontal');

  max-width: $app-container-size;

  @include govuk-media-query($and: '(min-width: #{($app-container-size + $ofh-size-32 * 2)})') {
    margin: 0 auto;
  }
}

.ofh-header__container,
.ofh-header__navigation {
  max-width: $app-container-size;
}
