/* ==========================================================================
   #EXAMPLE-CALLOUT
   ========================================================================== */

.app-example {
  @include top-and-bottom;
  @include ofh-responsive-margin(24, 'bottom');
  @include ofh-responsive-margin(12, 'top');
  @include ofh-responsive-padding(24, 'bottom');
  @include ofh-responsive-padding(24, 'left');
  @include ofh-responsive-padding(24, 'right');
  @include ofh-responsive-padding(40, 'top');

  border: 1px solid $ofh-color-greyscale-4;
  position: relative;
}

.app-example__heading {
  background: $ofh-color-greyscale-2;
  border: 0;
  left: -1px;
  position: absolute;
  top: -1px;
}

.app-example + h2 {
  @include ofh-responsive-padding(16, 'top');
}

.app-example + h3 {
  @include ofh-responsive-padding(8, 'top');
}

.app-example--white {
  background: $ofh-color-greyscale-white;
}

// Image example
.app-example--image {
  @include ofh-responsive-margin(16, 'bottom');

  & + h2 {
    @include ofh-responsive-padding(16, 'top');
  }
}
