/* ==========================================================================
   #FEATURED-LIST
   ========================================================================== */

/**
 * Styled list for design principles and service standard
 */

.featured-list {
  list-style: none;
  margin: $ofh-size-24 0 $ofh-size-32;
  padding-left: 0;
}

@include mq($from: tablet) {
  .featured-list {
    margin: $ofh-size-40 0 $ofh-size-32;
  }
}

.featured-list--item {
  margin-bottom: $ofh-size-32;
}

@include mq($from: tablet) {
  .featured-list--item {
    display: flexbox; // sass-lint:disable-line no-duplicate-properties
    display: flex; // sass-lint:disable-line no-duplicate-properties
    margin-bottom: $ofh-size-40;
    padding-left: $ofh-size-64;
  }
}

.featured-list--item__content {
  max-width: 99.99%;
}

.featured-list--item__number {
  display: none;
  font-weight: $ofh-typography-weight-semibold;
  margin-bottom: $ofh-size-16;
}

@include mq($from: tablet) {
  .featured-list--item__number {
    display: block;
    left: - $ofh-size-64;
    margin: 0;
    position: absolute;
  }
}

.featured-list--item__number--mobile {
  display: block;

  @include mq($from: tablet) {
    display: none;
  }
}

.featured-list--item__heading {
  align-items: center;
  border-top: $ofh-size-4 solid $ofh-color-brand-green-teal-4;
  display: flexbox; // sass-lint:disable-line no-duplicate-properties
  display: flex; // sass-lint:disable-line no-duplicate-properties
  -ms-flex-align: center;
  margin-top: 0;
  padding-top: $ofh-size-16;
  position: relative;
}

@include mq($from: tablet) {
  .featured-list--item__heading {
    padding-top: $ofh-size-32;
  }
}
