/* ==========================================================================
   #FOOTER
   ========================================================================== */

/**
 * Custom features for the service manual footer
 */

.app-ogl-footer {
  background-color: $ofh-color-brand-blue-navy-3-main;
}

.app-ogl-footer--text {
  @include ofh-font($size: paragraph-md);
  @include ofh-responsive-padding(24, 'bottom');

  color: $ofh-color-greyscale-white;
  margin-bottom: 0;
  padding-bottom: $ofh-size-24;

  svg {
    margin-right: $ofh-size-8;
    position: relative;
    top: 2px;
  }
}
