/* ==========================================================================
   #HEALTH-A-Z
   ========================================================================== */

/**
 * Custom style for the content style guide
 */

.app-style-guide-a-z {
  .ofh-a-z-list--results-items {
    @include ofh-responsive-margin(56, 'bottom');
  }

  .ofh-back-to-top__link {
    margin-left: 0;
  }

  h2 {
    background: $ofh-color-brand-blue-royal-3-main;
    color: $ofh-color-foreground-primary-inverted;
    display: inline-block;
    padding: $ofh-size-8 + $ofh-size-4;
  }

}
