/* ==========================================================================
   #LEDE-TEXT
   ========================================================================== */

.ofh-lede-text + .app-lede-text--sub {
  margin-bottom: $ofh-size-48;
  margin-top: - $ofh-size-16;

  @include mq($until: tablet) {
    margin-bottom: $ofh-size-32;
    margin-top: - $ofh-size-16;
  }
}

.app-lede-text + h2,
.app-lede-text + .ofh-heading-l {
  padding-top: $ofh-size-8;
}

.app-lede-text--sub + h2,
.app-lede-text--sub + .ofh-heading-l {
  padding-top: $ofh-size-0;
}

.app-lede-text + .app-index-navigation {
  padding-top: 0;
}
