// Added meta data for a promo (date)
.app-meta-data {
  @include ofh-font($size: paragraph-md);

  color: $ofh-color-foreground-secondary;

  + .app-meta-data {
    margin-top: - $ofh-size-16;
  }

  @include mq($from: tablet) {
    margin-bottom: $ofh-size-16;

    + .app-meta-data {
      margin-top: - $ofh-size-16;
    }
  }
}

.app-meta-data--strong {
  color: $ofh-color-foreground-primary;
  font-weight: 600;
}
