/* ==========================================================================
   #RELATED-NAV
   ========================================================================== */

.ofh-related-nav {
  border-top: 2px solid $ofh-color-brand-blue-royal-3-main;

  @include mq($until: desktop) {
    margin-top: ofh-spacing(8);
  }
}

.ofh-related-nav__heading {
  @include ofh-typography-responsive(h3, $override-line-height: 1.2);

  margin-bottom: ofh-spacing(4);
  padding-top: ofh-spacing(4);
}

.ofh-related-nav__heading--small {
  @include ofh-typography-responsive(lead);
}

.ofh-related-nav__list {
  list-style: none;
  margin-bottom: ofh-spacing(4);
  padding-left: ofh-spacing(0);
}

.ofh-related-nav__item {
  @include ofh-typography-responsive(paragraph);
}

.ofh-related-nav__sub-heading {
  @include ofh-responsive-margin(3, 'bottom');
  @include ofh-responsive-padding(3, 'top');
  @include ofh-typography-responsive(lead, $override-line-height: 1.2);
}
