/* ==========================================================================
   #RELATED-NAV
   ========================================================================== */

.ofh-related-nav {
  border-top: 2px solid $ofh-color-brand-blue-royal-3-main;

  @include mq($until: desktop) {
    margin-top: $ofh-size-48;
  }
}

.ofh-related-nav__heading {
  @include ofh-typography-responsive(heading-md, $override-line-height: 1.2);

  margin-bottom: $ofh-size-16;
  padding-top: $ofh-size-16;
}

.ofh-related-nav__heading--small {
  @include ofh-typography-responsive(lead-md);
}

.ofh-related-nav__list {
  list-style: none;
  margin-bottom: $ofh-size-16;
  padding-left: $ofh-size-0;
}

.ofh-related-nav__item {
  @include ofh-typography-responsive(paragraph-md);
}

.ofh-related-nav__sub-heading {
  @include ofh-responsive-margin(8, 'bottom');
  @include ofh-responsive-padding(8, 'top');
  @include ofh-typography-responsive(lead-md, $override-line-height: 1.2);
}
