/* ==========================================================================
   COMPONENTS / #CONTENTS-LIST
   ========================================================================== */

/**
 * 1. Creates a grey line before each list
 *    item using a ASCII number for the symbol.
 */

.ofh-contents-list {
  @include ofh-font('paragraph-md');
  @include ofh-responsive-margin(40, 'bottom');
}

.ofh-contents-list__list {
  display: flex;
  flex-direction: column;
  gap: $ofh-size-8;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ofh-contents-list__item {
  align-items: center;
  display: flex;
  gap: $ofh-size-12;

  &::before {
    background-color: $ofh-color-border-input-default;
    content: '';
    flex: 0 0 ofh-px-to-rem(20px);
    height: $ofh-stroke-weight-1;
  }
}

.ofh-contents-list__link {
  display: inline-block;
}

.ofh-contents-list__current {
  color: $ofh-color-foreground-primary;
  font-weight: $ofh-typography-weight-semibold;
}
