/* ==========================================================================
   COMPONENTS / #CONTENTS-LIST
   ========================================================================== */

/**
 * 1. Creates a grey line before each list
 *    item using a ASCII number for the symbol.
 */

.ofh-contents-list {
  @include ofh-responsive-margin(8, 'bottom');
}

.ofh-contents-list__list {
  list-style: none;
  padding: 0;
}

.ofh-contents-list__item {
  padding: 0 0 0 ofh-spacing(6);
  position: relative;
}

.ofh-contents-list__dash {
  color: $ofh-color-greyscale-4;
  height: 16px;
  left: 0;
  position: absolute;
  top: ofh-px-to-rem(4px);
  width: 16px;

  @include mq($from: tablet) {
    top: ofh-px-to-rem(6px);
  }
}

.ofh-contents-list__link {
  display: inline-block;
}

.ofh-contents-list__current {
  font-weight: $ofh-typography-weight-semibold;
}
