{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Tag' %}
{% from 'components/tag/macro.njk' import tag %}
{% extends 'layout.njk' %}

{% block body %}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent">

      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">

          <table class="ofh-table">
            <thead class="ofh-table__head">
              <tr class="ofh-table__row">
                <th class="ofh-table__header" scope="col">Class name</th>
                <th class="ofh-table__header" scope="col" style="width: 120px">Tag</th>
              </tr>
            </thead>
            <tbody class="ofh-table__body">
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag</code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Active"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--white </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Started",
                    classes: "ofh-tag--white"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--grey </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Not started",
                    classes: "ofh-tag--grey"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--green </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "New",
                    classes: "ofh-tag--green"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--aqua-green </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Active",
                    classes: "ofh-tag--aqua-green"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--blue </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Pending",
                    classes: "ofh-tag--blue"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--purple </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Received",
                    classes: "ofh-tag--purple"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--pink </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Sent",
                    classes: "ofh-tag--pink"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--red </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Rejected",
                    classes: "ofh-tag--red"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--orange </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Declined",
                    classes: "ofh-tag--orange"
                  })}}
                </td>
              </tr>
              <tr class="ofh-table__row">
                <td class="ofh-table__cell">
                  <code> ofh-tag--yellow </code>
                </td>
                <td class="ofh-table__cell">
                  {{ tag({
                    text: "Delayed",
                    classes: "ofh-tag--yellow"
                  })}}
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </main>
  </div>

{% endblock %}
