/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.ofh-footer {
  @include clearfix();
  @include print-hide();
  @include ofh-responsive-padding(24, bottom);
  @include ofh-responsive-padding(24, top);
  @include ofh-font('paragraph-sm');

  background-color: $ofh-color-greyscale-5;
  border-top: $ofh-size-4 solid $ofh-color-brand-yellow-3-main;
}

.footer-text {
  float: left;

  p {
    @include ofh-font('paragraph-sm');

    margin: 0;
  }
}

.ofh-footer__list {
  @include ofh-responsive-padding(16, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: $ofh-size-0;

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    width: 75%;
  }
}

.ofh-footer__list-item {
  @include ofh-font('paragraph-sm');

  @include mq($from: desktop) {
    float: left;
    margin-right: $ofh-size-32;
  }
}

.ofh-footer__list-item-link {
  color: $ofh-color-brand-blue-navy-3-main;

  &:visited {
    color: $ofh-color-brand-blue-navy-3-main;
  }

  &:hover {
    color: $ofh-color-foreground-primary;
  }
}

.ofh-footer__copyright {
  @include ofh-font('paragraph-sm');

  color: $ofh-color-greyscale-black;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}
