{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Header transactional' %}
{% from 'components/header/macro.njk' import header %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  {{ header({
      "transactional": "true",
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}
