// Our Future Health design system toolkit
@import '../../packages/ofh';

// App specific styles
@import 'app/app';
@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/inset-text/inset-text';

// Design examples
@import 'design-example/design-example';

// Main body styling
.body-ds {
  background-color: $color_ofh-white;
}

// HEADER + MAIN NAV

// Remove main nav hover background colour on desktop
@include mq($from: large-desktop) {
  .ofh-header__navigation-link {
    &:hover {
      background-color: transparent;
    }
  }
}

// Removal of table cell element top and bottom margins
// Remove bottom margin from a <p>
.ofh-table__cell {
  @include top-and-bottom;
}

// Custom style for the home page hero
// Reducing the padding on smaller screens
.app-hero__wrapper {
  @include mq($until: desktop) {
    padding-bottom: ofh-spacing(5);
    padding-top: ofh-spacing(5);
  }
}

// Page template annotation

.app-annotate-block {
  margin-bottom: ofh-spacing(4);
  outline: 2px dashed $color_ofh-grey-1;
  padding: ofh-spacing(3);
  padding-top: ofh-spacing(7);
  position: relative;
}

.app-annotate-block__label {
  border-bottom: 2px dashed $color_ofh-grey-1;
  border-right: 2px dashed $color_ofh-grey-1;
  left: 0;
  padding: ofh-spacing(1) ofh-spacing(2);
  position: absolute;
  top: 0;
}

.app-annotate-block + .ofh-main-wrapper {
  padding-bottom: 0;
  padding-top: 0;
}

// Team pictures used for lists

.app-team-pictures-list {
  @include ofh-responsive-padding(0, 'left');

  img {
    @include ofh-responsive-margin(3, 'right');

    border: 2px solid transparent;
    border-radius: 30px;
    display: inline-block;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 40px;
  }

  li {
    list-style: none;
  }

}

// FIXME: this should probably be done / addressed directly in the Hero component.
.ofh-hero h1 {
  color: $ofh-text-black-color;
}
