{% set pageTitle = "Patterns" %}
{% set pageDescription = "Patterns are tested and agreed solutions to common needs. You can reuse them across Our Future Health products and services to make them more consistent." %}
{% set pageSection = "Design system" %}
{% set subSection = "Patterns" %}
{% set theme = "Design" %}
{% set hideContact = "true" %}
{% set unpublished = false %}

{% extends "app-layout.njk" %}
{% from 'packages/components/warning-callout/macro.njk' import warningCallout %}

{% block breadcrumb %}
  {% include "./_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}


{{ warningCallout({
  "heading": "We don't currently have many patterns in-use",
  "HTML": "<p>We will add more as we design and develop them.</p>"
}) }}

  <p>We have 2 types of patterns:</p>
  <ul>
    <li>task patterns to help users complete a task, for example, give us different kinds of information</li>
    <li>page type patterns to improve navigation</li>
  </ul>
  <p>Patterns often use more than 1 <a href="/design-system/components">component</a> and the guidance explains how to adapt them to the context.</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "_side-nav.njk" %}
  </div>

{% endblock %}
