{% set title = 'Examples' %}
{% set pageTitle = "Examples" %}

{% extends "layout.njk" %}

{% block body %}
  <h1>Examples</h1>

  <h2>Components</h2>
  <ul class="ofh-list">
    <li><a href="/examples/components/action-link/">Action link</a></li>
    <li><a href="/examples/components/back-link/">Back link</a></li>
    <li><a href="/examples/components/breadcrumb/">Breadcrumb</a></li>
    <li><a href="/examples/components/button/">Button</a></li>
    <li><a href="/examples/components/button/link/">Button as a link</a></li>
    <li><a href="/examples/components/button/disabled/">Button disabled</a></li>
    <li><a href="/examples/components/button/secondary/">Button secondary</a></li>
    <li><a href="/examples/components/button/reverse/">Button reverse</a></li>
    <li><a href="/examples/components/card/basic-card/">Card - Basic card</a></li>
    <li><a href="/examples/components/card/clickable-card/">Card - Clickable card</a></li>
    <li><a href="/examples/components/card/card-with-image/">Card - Card with an image</a></li>
    <li><a href="/examples/components/card/card-group/">Card - Card group</a></li>
    <li><a href="/examples/components/card/feature-card/">Card - Feature card</a></li>
    <li><a href="/examples/components/card/care-card-non-urgent/">Card - Care card non-urgent (blue)</a></li>
    <li><a href="/examples/components/card/care-card-urgent/">Card - Care card urgent (red)</a></li>
    <li><a href="/examples/components/card/care-card-emergency/">Card - Care card emergency (red and black)</a></li>
    <li><a href="/examples/components/checkboxes/">Checkboxes</a></li>
    <li><a href="/examples/components/checkboxes/hint/">Checkboxes with hint text</a></li>
    <li><a href="/examples/components/checkboxes/disabled/">Checkboxes with disabled item</a></li>
    <li><a href="/examples/components/checkboxes/page-heading/">Checkboxes with legend as page heading</a></li>
    <li><a href="/examples/components/checkboxes/error/">Checkboxes with error message</a></li>
    <li><a href="/examples/components/checkboxes/conditional/">Checkboxes with conditional content</a></li>
    <li><a href="/examples/components/checkboxes/none-of-the-above/">Checkboxes with "none of the above" option</a></li>
    <li><a href="/examples/components/contents-list/">Contents list</a></li>
    <li><a href="/examples/components/date-input/">Date input</a></li>
    <li><a href="/examples/components/date-input/autocomplete/">Date input with autocomplete attribute</a></li>
    <li><a href="/examples/components/date-input/error/">Date input with error</a></li>
    <li><a href="/examples/components/date-input/multiple-errors/">Date input with multiple errors</a></li>
    <li><a href="/examples/components/details/">Details</a></li>
    <li><a href="/examples/components/do-dont-list/">Do and Don't list</a></li>
    <li><a href="/examples/components/error-message/">Error message</a></li>
    <li><a href="/examples/components/error-summary/">Error summary</a></li>
    <li><a href="/examples/components/error-summary/linking-to-input/">Error summary with link to an input field</a></li>
    <li><a href="/examples/components/error-summary/linking-to-radios/">Error summary with link to a radio field</a></li>
    <li><a href="/examples/components/details/expander/">Expander</a></li>
    <li><a href="/examples/components/details/expander-group/">Expander group</a></li>
    <li><a href="/examples/components/fieldset/">Fieldset</a></li>
    <li><a href="/examples/components/fieldset/page-heading/">Fieldset as page heading</a></li>
    <li><a href="/examples/components/fieldset/with-inputs/">Fieldset with inputs</a></li>
    <li><a href="/examples/components/footer/">Footer</a></li>
    <li><a href="/examples/components/header/">Header</a></li>
    <li><a href="/examples/components/header/header-navigation/">Header with navigation</a></li>
    <li><a href="/examples/components/header/header-search/">Header with search</a></li>
    <li><a href="/examples/components/header/header-logo/">Header with logo only</a></li>
    <li><a href="/examples/components/header/header-service-name/">Header with a service name</a></li>
    <li><a href="/examples/components/header/header-service-name-with-nav/">Header with a service name, search and navigation</a></li>
    <li><a href="/examples/components/header/header-transactional/">Header transactional</a></li>
    <li><a href="/examples/components/header/header-transactional-service-name/">Header transactional with service name</a></li>
    <li><a href="/examples/components/header/header-org/">Header organisational</a></li>
    <li><a href="/examples/components/header/header-org-white/">Header organisational with white header</a></li>
    <li><a href="/examples/components/header/header-org-white-nav/">Header organisational with white header and navigation</a></li>
    <li><a href="/examples/components/hero/">Hero</a></li>
    <li><a href="/examples/components/hero/hero-image/">Hero with image</a></li>
    <li><a href="/examples/components/hero/hero-image-content/">Hero with image with content</a></li>
    <li><a href="/examples/components/hint/">Hint</a></li>
    <li><a href="/examples/components/images/">Images</a></li>
    <li><a href="/examples/components/input/">Input</a></li>
    <li><a href="/examples/components/input/autocomplete/">Input with autocomplete attribute</a></li>
    <li><a href="/examples/components/input/hint/">Input with hint text</a></li>
    <li><a href="/examples/components/input/error/">Input with error message</a></li>
    <li><a href="/examples/components/input/custom-width/">Input with width modifier</a></li>
    <li><a href="/examples/components/inset-text/">Inset text</a></li>
    <li><a href="/examples/components/label/">Label</a></li>
    <li><a href="/examples/components/label/bold/">Label with bold text</a></li>
    <li><a href="/examples/components/label/page-heading/">Label as page heading</a></li>
    <li><a href="/examples/components/pagination/">Pagination</a></li>
    <li><a href="/examples/components/radios/">Radios</a></li>
    <li><a href="/examples/components/radios/inline/">Radios inline</a></li>
    <li><a href="/examples/components/radios/disabled/">Radios disabled</a></li>
    <li><a href="/examples/components/radios/divider/">Radios with a divider</a></li>
    <li><a href="/examples/components/radios/hint/">Radios with hint text</a></li>
    <li><a href="/examples/components/radios/without-fieldset/">Radios without fieldset</a></li>
    <li><a href="/examples/components/radios/hint-error/">Radios with hint text and error message</a></li>
    <li><a href="/examples/components/radios/conditional/">Radios with conditional content</a></li>
    <li><a href="/examples/components/radios/nested-conditionals/">Radios with nested conditional radios</a></li>
    <li><a href="/examples/components/select/">Select</a></li>
    <li><a href="/examples/components/select/hint-error/">Select with hint text and error message</a></li>
    <li><a href="/examples/components/skip-link/">Skip link</a></li>
    <li><a href="/examples/components/summary-list/">Summary list</a></li>
    <li><a href="/examples/components/summary-list/without-actions/">Summary list without actions</a></li>
    <li><a href="/examples/components/summary-list/without-border/">Summary list without border</a></li>
    <li><a href="/examples/components/tables/">Table</a></li>
    <li><a href="/examples/components/tables/responsive-table/">Responsive table</a></li>
    <li><a href="/examples/components/tables/tables-panel/">Table as a panel</a></li>
    <li><a href="/examples/components/tag/">Tag</a></li>
    <li><a href="/examples/components/textarea/">Textarea</a></li>
    <li><a href="/examples/components/textarea/autocomplete/">Textarea with autocomplete attribute</a></li>
    <li><a href="/examples/components/textarea/error/">Textarea with error message</a></li>
    <li><a href="/examples/components/warning-callout/">Warning callout</a></li>
    <li><a href="/examples/components/warning-callout/custom-heading/">Warning callout with custom heading</a></li>
  </ul>

  <h2>Standalone pages</h2>
  <ul class="ofh-list">
    <li><a href="/examples/standalone/landing/">Landing page</a></li>
  </ul>
{% endblock %}
