
{% set pageDescription = "Our Future Health design system docs" %}
{% set pageLayout = "Homepage" %}

{% extends "layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

<main id="maincontent" role="main">
<!-- These are commented out as I'm currently tinkering to get a handle on putting through pull requests, but feel free to delete at any time. -Simon -->

<!--  <section class="ofh-hero">
    <div class="ofh-width-container app-width-container ofh-hero--border">
      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          <div class="ofh-hero__wrapper app-hero__wrapper">
            <h1 class="ofh-u-margin-bottom-0">Our Future Health design system</h1>            
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <section class="ofh-section">
    <div class="ofh-width-container app-width-container">
      <div class="ofh-grid-row"> 
        <div class="ofh-grid-column-one-third">
          <h2 class="ofh-heading-s">Getting started</h2>
          <ol class="ofh-contents-list__list">
            <li>
              <a href="/get-started">Basic info and getting started</a>
            </li>
            <li>
              <a href="/get-started/guidance-for-dev">Guidance for developers</a>
            </li>
            <li>
              <a href="/get-started/guidance-for-design">Guidance for design</a>
            </li>
          </ol>
          <h2 class="ofh-heading-s">Design system</h2>
          <ol class="ofh-contents-list__list">
            <li>
              <a href="/design-system/styles">Foundational styles</a>
            </li>
            <li>
              <a href="/design-system/components">Components</a>
            </li>
            <li>
              <a href="/design-system/patterns">Patterns</a>
            </li>
          </ol>
          
        </div>
        <div class="ofh-grid-column-two-thirds">
          <div class="ofh-inset-text-ds">
            <span class="ofh-u-visually-hidden">Information: </span>
              <p>This site is being worked on. Not all references to the NHS have been changed yet.</p>
          </div>
          <h1>Design and build digital products at Our Future Health</h1>
            <p>Our design system is forked from the <a href="https://service-manual.nhs.uk/design-system">NHS Design System</a>. We have modified and adapted it to suit our needs within Our Future Health.</p>
              <h2>Quick links</h2>
                <ol class="ofh-contents-list__list">
                  <li>
                    <a href="/examples/components/all"> Components examples page</a>
                  </li>
                  <li>
                    <a href="/examples/components/typography"> Typography examples page</a>
                  </li>
                </ol>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
