{% set pageDescription = "Our Future Health design system docs" %}
{% set pageLayout = "Homepage" %}

{% extends "layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

<main id="maincontent" role="main">

  <section class="ofh-hero">
    <div class="ofh-width-container app-width-container ofh-hero--border">
      <div class="ofh-grid-row">
        <div class="ofh-grid-column-two-thirds">
          <div class="ofh-hero__wrapper app-hero__wrapper">
            <h1>Our Future Health design system</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ofh-section">
    <div class="ofh-width-container app-width-container">
      <ul class="ofh-grid-row ofh-card-group">
        <li class="ofh-grid-column-one-third ofh-card-group__item">
          <div class="ofh-card ofh-card--clickable">
            <div class="ofh-card__content">
              <h2 class="ofh-card__heading ofh-heading-m"><a href="/design-system">Design system</a></h2>
              <p class="ofh-card__description">Build consistent, accessible user interfaces</p>
            </div>
          </div>
        </li>
        <li class="ofh-grid-column-one-third ofh-card-group__item">
          <div class="ofh-card ofh-card--clickable">
            <div class="ofh-card__content">
              <h2 class="ofh-card__heading ofh-heading-m"><a href="/design-system/design-principles">Design principles</a></h2>
              <p class="ofh-card__description">These principles guide all of our design</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}
