{% set pageTitle = "We cannot find the page you’re looking for" %}
{% set hideDescription = true %}

{% extends "app-layout-two-thirds.njk" %}

{% block bodyContent %}

  <p>Please check the web address to make sure it was correct.</p>
  <p>You can also browse the <a href="/">homepage</a> for the information you need.</p>

{% endblock %}
