{% set pageTitle = "Typography" %}
{% set pageDescription = "Our fonts and typographic styles, and how to apply them." %}
{% set pageSection = "Design system" %}
{% set subSection = "Foundation styles" %}
{% set dateUpdated = "April 2023" %}
{% set backlog_issue_id = "1" %}
{% set hideContact = "true" %}


{% extends "app-layout.njk" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block sideNav %}
<nav class="app-side-nav">

  <ul class="ofh-list app-side-nav__list">

    <div class="ofh-back-link app-u-hide-mobile app-side-nav__back ofh-u-margin-bottom-4">
      <a class="ofh-back-link__link" href="/design-system">
      <svg class="ofh-icon ofh-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Design system</a>
    </div>

    <h2 class="app-side-nav__heading">Styles <span class="ofh-u-visually-hidden">navigation</span></h2>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/colour">Colour</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/focus-state">Focus state</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/icons">Icons</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/layout">Layout</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/page-template">Page template</a></li>

    <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/styles/spacing">Spacing</a></li>

    <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/styles/typography">Typography</a>
      <ul class="app-side-nav__list app-side-nav__list--nested">
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#font">Font</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#typescale">Typescale</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#headings">Headings</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#paragraphs">Paragraphs</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#font-override-classes">Font override classes</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#links">Links</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#lists">Lists</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#section-break">Section break</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="#text-alignment">Text alignment</a></li>
      </ul>
    </li>

  </ul>

</nav>
{% endblock %}

{% block bodyContent %}

  <h2 id="font">Font</h2>

  <h3>Source Sans Pro</h3>
  <p>Source Sans Pro is our primary typeface and should be used for all text content across our digital products and services.</p>

  <h3>Fallback font</h3>
  <p>You can default to Arial when Source Sans Pro is not available.</p>
  <p class="rich-text"><code>font-family: “Source Sans Pro”, Arial, sans-serif;</code></p>

  <h2 id="typescale">Typescale</h2>
  <p>The default font size depends on the device the user is using. The typescale is larger on devices that are above 641 pixels screen width – large devices such as desktop and most tablets. It is smaller on devices that are below 641 pixels screen width – small devices such as phones.</p>

  <h2 id="headings">Headings</h2>
  <p>Write all headings in sentence case.</p>
  <p>Style headings consistently to create a clear content structure throughout your service and a clear content hierarchy on a page.</p>
  <p>Heading levels have meaning, especially for screen reader users and search engines. Using correct heading levels improves SEO and helps people using assistive technology to navigate through a page.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "headings",
    htmlOnly: true
  }) }}

  <h2 id="paragraphs">Paragraphs</h2>

  <h3 id="body">Body</h3>
  <p>The default paragraph font size is 19px on desktop and most tablets and 16px on phones.</p>
  <p>You can also add classes to create a lead paragraph or smaller body copy to convey content hierarchy in your page.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "body-m",
    htmlOnly: true
  }) }}


  <h3 id="lead-paragraph">Lead paragraph</h3>
  <p>A lead paragraph is an introductory paragraph that you can use at the top of a page to summarise the content.</p> 
  <p>Lead paragraphs use 24px type on desktop and tablet and 20px on phones. You should only use them once per page.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "body-l",
    htmlOnly: true
  }) }}

  <h3 id="body-small">Body small</h3>
  <p class="rich-text">You can use the <code>ofh-body-s</code> class sparingly to make your paragraph font size smaller.</p>
  <p>Small body text uses 16px on desktop and tablet and 14px on phones.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "body-s",
    htmlOnly: true
  }) }}

  <h2 id="font-override-classes">Font override classes</h2>
  <p>You might need to set the font size or font weight of an element outside the predefined heading and paragraph classes. To do this you can use the font override classes in your HTML or reference the typography mixins in your own components.</p>

  <h3 id="font-size">Font size</h3>
  <p>Our full typography scale goes from 14px to 64px on desktop and tablet. You can add these font size override classes to any other typographic class or element, and they will change the font size.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "sizes",
    htmlOnly: true
  }) }}

  <h3 id="font-weight">Font weight</h3>
  <p>You can add a font weight override class to any other typographic class or element to change the font weight to regular or bold weight.</p>
  <p>Use bold in body content sparingly. It can be used to highlight critical information that users need to refer to, such as a reference number. But overuse of bold will make it difficult for users to know which parts of your content they need to pay the most attention to.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "weight",
    htmlOnly: true
  }) }}

  <h2 id="links">Links</h2>
  <p>Use links within text to help users navigate to specific content or to new pages.</p>
  <p>Links in body text are blue and underlined by default. On hover, the underline is removed.</p>
  <p>If your link is at the end of a sentence or paragraph, make sure that the linked text does not include the full stop.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "links",
    htmlOnly: true
  }) }}

  <p>Use the <code>ofh-link--no-visited-state</code> modifier class where it is not helpful to distinguish between visited and unvisited states. For example, you can use it when linking to pages with frequently changing content, such as the dashboard for an admin interface.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "links-unvisited",
    htmlOnly: true
  }) }}

  <h2 id="lists">Lists</h2>
  <p>Use lists to make blocks of text easier to read, and to break information into manageable chunks.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "lists",
    htmlOnly: true
  }) }}

  <h3 id="bulleted-lists">Bulleted lists</h3>
  <p>Introduce bulleted lists with a lead-in line ending in a colon. Start each item with a lowercase letter. Do not use commas or semicolons at the end of each line and do not use a full stop at the end.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "lists-bulleted",
    htmlOnly: true
  }) }}

  <h3 id="numbered-lists">Numbered lists</h3>
  <p>Use numbered lists instead of bulleted lists when the order of the items is relevant.</p>
  <p>You do not need to use a lead-in line for numbered lists. Items in a numbered list should end in a full stop because each should be a complete sentence.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "lists-numbered",
    htmlOnly: true
  }) }}

  <h2 id="section-break">Section break</h2>
  <p class="rich-text">You can use the <code>ofh-section-break</code> classes on an <code>&lt;hr&gt;</code> element to create a thematic break between sections of content. <code>ofh-section-break</code> has class-based modifiers for different size margins.</p>
  <p class="rich-text">By default <code>ofh-section-break</code> is only visible by its margin. You can add the <code>ofh-section-break--visible</code> class to make it visible with a separator line.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "section-breaks",
    htmlOnly: true
  }) }}

  <h2 id="text-alignment">Text alignment</h2>
  <p>Text is left-aligned by default.</p>
  <p>The straight edge of left-aligned text helps people who magnify their screen. It saves them having to search around the screen for the next line or item. They may miss things that are not left-aligned.</p>
  <p>Some people with cognitive differences have difficulty with blocks of text that are ‘justified’ – so that they are aligned to both the left and right margins. Justifying text creates wider spaces between words, which can make the text harder to read.</p>
  <p>Only centre-align or fully justify text if you can show a clear user need.</p>

  <h3 id="text-alignment-override-classes">Text alignment override classes</h3>
  <p>If you need to align text to the right, you can use the text alignment override class <code>ofh-u-text-align-right</code>.</p>
  <p>Here is an example of Arabic.</p>

  {{ designExample({
    group: "styles",
    item: "typography",
    type: "text-alignment",
    htmlOnly: true
  }) }}


{% endblock %}
