/* ==========================================================================
   COMPONENTS / #LINK-ICON
   ========================================================================== */

.ofh-link-icon {
  @include ofh-responsive-margin(16, 'bottom');
}

.ofh-link-icon__link {
  @include ofh-typography-responsive('paragraph-sm');

  align-items: center;
  color: $ofh-color-foreground-link-default;
  display: inline-flex;
  gap: $ofh-size-4;
  text-decoration: none;

  &:visited {
    color: $ofh-color-foreground-link-default;
  }

  &:hover {
    color: $ofh-color-foreground-link-hover;
    text-decoration: underline;
  }

  &:focus {
    color: $ofh-color-foreground-link-active;
    outline: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-focus;
    outline-offset: $ofh-stroke-weight-4;
    text-decoration: none;
  }
}

.ofh-link-icon__text {
  white-space: normal;
}

.ofh-link-icon__icon {
  color: currentColor;
  flex: none;
}

.ofh-link-icon--small {
  .ofh-link-icon__link {
    @include ofh-typography-responsive('paragraph-sm');
  }

  .ofh-link-icon__icon {
    height: 16px;
    width: 16px;
  }
}

.ofh-link-icon--medium {
  .ofh-link-icon__link {
    @include ofh-typography-responsive('paragraph-md');
  }

  .ofh-link-icon__icon {
    height: 24px;
    width: 24px;
  }
}

@include mq($media-type: print) {
  .ofh-link-icon__link {
    color: $ofh-color-foreground-primary;

    &:visited {
      color: $ofh-color-foreground-primary;
    }
  }
}
