// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// Our Future Health colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with ofh- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

$color_ofh_primary: #FFC62C;
$color_ofh-white: #ffffff;
$color_ofh-black: #212b32;
$color_ofh-green: #00A08A;
$color_ofh-purple: #330072;
$color_ofh-dark-pink: #7C2855;
$color_ofh-red: #d5281b;
$color_ofh-yellow: #ffeb3b;
$color_ofh-blue: #108BE2;
$color_ofh-light-blue: #DCE8F0;
$color_ofh-dark-yellow: #e6b228;
$color_ofh-dark-blue: #011D4B;

//
// Secondary colours
//

$color_ofh-pale-yellow: #fff9c4;
$color_ofh-warm-yellow: #ffb81C;
$color_ofh-orange: #ED8B00;
$color_ofh-aqua-green: #00A499;
$color_ofh-pink: #AE2573;

//
// Greyscale
//

$color_ofh-grey-1: #425563;
$color_ofh-grey-2: #768692;
$color_ofh-grey-3: #aeb7bd;
$color_ofh-grey-4: #d8dde0;
$color_ofh-grey-5: #F4F4F4;

/* stylelint-enable color-no-hex */
//
// RGB and alpha values
//
// Used to create drop/box shadows e.g. for search suggestions dropdown
//

$color_ofh-grey-1-rgb: rgb(66, 84, 98);
$alpha-transparency-50: .5;

//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_ofh-black, 10%)
//        shade(color, percentage)
//        shade($color_ofh_primary, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//
// 1. used for link :active states
// 2. used for .is-active state on main navigation
// 3. used for :hover states on main navigation
// 4. used for :active states on main navigation
// 5. used for primary button and action link icon :hover states
// 6. used for primary button and action link icon :active states
//

$color_tint_ofh-black-10: tint($color_ofh-black, 10%); // [1] //

$color_shade_ofh-blue-20: shade($color_ofh_primary, 20%); // [2] //
$color_shade_ofh-blue-35: shade($color_ofh_primary, 35%); // [3] //
$color_shade_ofh-blue-50: shade($color_ofh_primary, 50%); // [4] //

$color_shade_ofh-green-35: shade($color_ofh-green, 35%); // [5] //
$color_shade_ofh-green-50: shade($color_ofh-green, 50%); // [6] //

$color_transparent_ofh-white-20: rgba($color_ofh-white, .2);
$color_transparent_ofh-blue-50: rgba($color_shade_ofh-blue-50, .1);

//
// Colour aliases
//

// Text
$ofh-text-color: $color_ofh-black;
$ofh-secondary-text-color: $color_ofh-grey-1;
$ofh-print-text-color: $color_ofh-black;

// Links
$ofh-link-color: $color_ofh-dark-blue;
$ofh-link-hover-color: $color_ofh-dark-pink;
$ofh-link-active-color: shade($ofh-link-color, 50%);
$ofh-link-visited-color: $color_ofh-purple;

// Focus
$ofh-focus-color: $color_ofh-yellow;
$ofh-focus-text-color: $color_ofh-dark-blue;

// Border
$ofh-border-color: $color_ofh-grey-4;
$ofh-border-black-color: rgb(0, 0, 0);
$ofh-secondary-border-color: $color_transparent_ofh-white-20;

// Box shadow
$ofh-box-shadow: rgba(33, 43, 50, .16);
$ofh-box-shadow-color: $color_ofh-grey-1-rgb;

//
// Forms
//

$ofh-error-color: $color_ofh-red;
$ofh-form-border-color: $color_ofh-grey-1;
$ofh-form-element-background-color: $color_ofh-white;

//
// Buttons
//

$ofh-button-color: $color_ofh_primary;
$ofh-button-hover-color: $color_ofh-dark-yellow;
$ofh-button-active-color: $color_ofh_primary;
$ofh-button-shadow-color: $color_ofh-dark-blue;

$ofh-secondary-button-color: $color_ofh-grey-1;
$ofh-secondary-button-hover-color: shade($ofh-secondary-button-color, 20%);
$ofh-secondary-button-active-color: shade($ofh-secondary-button-color, 50%);
$ofh-secondary-button-shadow-color: shade($ofh-secondary-button-color, 50%);

$ofh-reverse-button-color: $color_ofh-white;
$ofh-reverse-button-hover-color: shade($ofh-reverse-button-color, 20%);
$ofh-reverse-button-active-color: $color-ofh-black;
$ofh-reverse-button-shadow-color: $color-ofh-black;

$ofh-button-text-color: $color_ofh-dark-blue;
$ofh-button-secondary-text-color: $color_ofh-white;
$ofh-reverse-button-text-color: $color_ofh-black;
