// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// Our Future Health colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with ofh- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

//
// Brand
//
$color_ofh-brand-dark-blue: #011D4B;
$color_ofh-brand-blue: #108BE2;
$color_ofh-brand-light-blue: #A4E7E2;
$color_ofh-brand-green: #00A08A;
$color_ofh-brand-light-green: #A2F5AC;
$color_ofh-brand-yellow: #FFC62C;
$color_ofh-brand-orange: #FF7800;
$color_ofh-brand-red: #F34848;

//
// Greyscale
//
$color_ofh-black: #1B1B1B;
$color_ofh-true-black: #000000;
$color_ofh-grey-1: #494949;
$color_ofh-grey-2: #767676;
$color_ofh-grey-3: #A4A4A4;
$color_ofh-grey-4: #D1D1D1;
$color_ofh-grey-5: #E8E8E8;
$color_ofh-grey-6: #F4F4F4;
$color_ofh-white: #FFFFFF;

//
// Neutrals
//
$ofh-neutral-blue: #F2F5FA;
$ofh-neutral-yellow: #F8F5EF;
$ofh-neutral-grey: #F8F8F8;


//
// Extended colours
//
$color_ofh-brand-dark-blue-1: #000E26;
$color_ofh-brand-dark-blue-2: #011638;
$color_ofh-brand-dark-blue-3: #405578;
$color_ofh-brand-dark-blue-4: #808EA5;
$color_ofh-brand-blue-1: #084571;
$color_ofh-brand-blue-2: #0C68A9;
$color_ofh-brand-blue-3: #4CA8E9;
$color_ofh-brand-blue-4: #87C5F1;
$color_ofh-brand-light-blue-1: #527371;
$color_ofh-brand-light-blue-2: #7BADA9;
$color_ofh-brand-light-blue-3: #BBEDE9;
$color_ofh-brand-light-blue-4: #D1F3F1;
$color_ofh-brand-green-1: #005045;
$color_ofh-brand-green-2: #007867;
$color_ofh-brand-green-3: #00A08A;
$color_ofh-brand-green-4: #80CFC4;
$color_ofh-brand-light-green-1: #517B56;
$color_ofh-brand-light-green-2: #7AB881;
$color_ofh-brand-light-green-3: #B9F8C1;
$color_ofh-brand-light-green-4: #D0FAD5;
$color_ofh-brand-yellow-1: #806316;
$color_ofh-brand-yellow-2: #BF9421;
$color_ofh-brand-yellow-3: #FFD461;
$color_ofh-brand-yellow-4: #FFE296;
$color_ofh-brand-orange-1: #803C00;
$color_ofh-brand-orange-2: #BF5A00;
$color_ofh-brand-orange-3: #FF9A40;
$color_ofh-brand-orange-4: #FFBC80;
$color_ofh-brand-red-1: #7A2424;
$color_ofh-brand-red-2: #B63636;
$color_ofh-brand-red-3: #F67676;
$color_ofh-brand-red-4: #F9A3A3;
$color_ofh-neutral-blue: #F2F5FA;
$color_ofh-neutral-yellow: #F8F5EF;
$color_ofh-neutral-grey: #F8F8F8;


//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_ofh-black, 10%)
//        shade(color, percentage)
//        shade($color_ofh-brand-yellow, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//

// Used in header component: packages/components/header/_header.scss
$color_shade_ofh-blue-20: shade($color_ofh-brand-yellow, 20%);
// Used in header component: packages/components/header/_header.scss
// Used in mixins: packages/core/tools/_mixins.scss
$color_shade_ofh-blue-35: shade($color_ofh-brand-yellow, 35%);
// Used in header component: packages/components/header/_header.scss
// Used in mixins: packages/core/tools/_mixins.scss
$color_shade_ofh-blue-50: shade($color_ofh-brand-yellow, 50%);
// Used in hero component: packages/components/hero/_hero.scss
$color_transparent_ofh-blue-50: rgba($color_shade_ofh-blue-50, .1);

//
// Functional UI colours
//
// Where possible, these should refer to the palette variables, but it's okay
// to use a custom hex code for cases where a palette colour can't be reused
// and a special colour is needed (just for that functional use case).
//

// Background
$background-color: $color_ofh-grey-6;
$background-bounce-color: $color_ofh-grey-4;

// Text
$ofh-text-black-color: $color_ofh-black;
$ofh-text-grey-color: $color_ofh-grey-1;
$ofh-text-blue-color: $color_ofh-brand-dark-blue;
$ofh-text-white-color: $color_ofh-white;

// Links
$ofh-link-color: #0053B3;
$ofh-link-hover-color: #002D61;
$ofh-link-visited-color: #330072;
$ofh-link-active-color: #001F42;
$ofh-link-light-color: #FFFFFF;
$ofh-link-light-hover-color: #F4F4F4;
$ofh-link-light-visited-color: #D8B7DE;
$ofh-link-light-active-color: #001F42;

// Breadcrumb links have their own colours
$ofh-breadcrumb-link-color: $color_ofh-brand-dark-blue;
$ofh-breadcrumb-link-hover-color: #002D61;
$ofh-breadcrumb-link-visited-color: #330072;
$ofh-breadcrumb-link-active-color: #001F42;

// Focus
// TODO: Will be revised in upcoming focus outline work.
$ofh-focus-color: #FFEB3B;
// TODO: Not defined in Figma.
$ofh-focus-text-color: $color_ofh-brand-dark-blue;
// TODO: This was in new colours in Figma so added here, but not used anywhere yet.
$ofh-focus-white-color: #FFFFFF;

// Contextual colours
$ofh-error-color: #B60000;
$ofh-success-color: #00725F;

// Border
$ofh-border-color: #D1D1D1;

// Forms
$ofh-input-border-color: $color_ofh-grey-1;
$ofh-input-element-background-color: $color_ofh-white;
$ofh-input-border-active-color: $color_ofh-black;
$ofh-input-background-color: $color_ofh-white;

//
// Buttons
//
// TODO: These colour names need reviewing to align with the Figma.
//
// - $ofh-button = $ofh-button-yellow
// - $ofh-reverse-button = $ofh-button-white
//
// TODO: $ofh-button-dark-blue from the Figma hasn't been added here yet.

$ofh-button-color: $color_ofh-brand-yellow;
$ofh-button-hover-color: #DAA106;
$ofh-button-active-color: #BF8C02;
// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-button-shadow-color: $color_ofh-brand-dark-blue;

$ofh-secondary-button-color: #425563;
$ofh-secondary-button-hover-color: shade($ofh-secondary-button-color, 20%);
$ofh-secondary-button-active-color: shade($ofh-secondary-button-color, 50%);
// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-secondary-button-shadow-color: shade($ofh-secondary-button-color, 50%);

$ofh-reverse-button-color: $color_ofh-white;
$ofh-reverse-button-hover-color: #E8E8E8;
$ofh-reverse-button-active-color: #D1D1D1;
// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-reverse-button-shadow-color: $color-ofh-black;

// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-button-text-color: $color_ofh-brand-dark-blue;
// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-button-secondary-text-color: $color_ofh-white;
// TODO: Not sure what this should be - couldn't find in Figma.
$ofh-reverse-button-text-color: $color_ofh-black;


$ofh-button-color-default: #0053B3;
$ofh-button-color-hover: #002D61;
$ofh-button-color-active: #001F42;
$ofh-button-color-white: $color_ofh-white;
$ofh-button-color-white-hover: $color_ofh-grey-5;
$ofh-button-color-white-active: $color_ofh-grey-4;
