// ==========================================================================
// SETTINGS / #SPACING
// ==========================================================================

//
// Single point spacing variables
//
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend
//

$ofh-spacing-points: (
  0: $ofh_spacing-0,
  1: $ofh_spacing-1,
  2: $ofh_spacing-2,
  3: $ofh_spacing-3,
  4: $ofh_spacing-4,
  5: $ofh_spacing-5,
  6: $ofh_spacing-6,
  7: $ofh_spacing-7,
  8: $ofh_spacing-8,
  9: $ofh_spacing-9
) !default;

// Responsive spacing map
// ==========================================================================

//
// These definitions are used to generate responsive spacing that adapts
// according to the breakpoints (see 'tools/spacing'). These maps should be
// used wherever possible to standardise responsive spacing.
//
// You can define different behaviour on tablet and desktop. The 'null'
// breakpoint is for mobile.
//
// Access responsive spacing with `ofh-responsive-margin` or
// `ofh-responsive-padding` mixins.
//
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend
//

$ofh-spacing-responsive-scale: (
  0: (
    null: $ofh_spacing-0,
    tablet: $ofh_spacing-0
  ),
  1: (
    null: $ofh_spacing-1,
    tablet: $ofh_spacing-1
  ),
  2: (
    null: $ofh_spacing-2,
    tablet: $ofh_spacing-2
  ),
  3: (
    null: $ofh_spacing-2,
    tablet: $ofh_spacing-3
  ),
  4: (
    null: $ofh_spacing-3,
    tablet: $ofh_spacing-4
  ),
  5: (
    null: $ofh_spacing-4,
    tablet: $ofh_spacing-5
  ),
  6: (
    null: $ofh_spacing-5,
    tablet: $ofh_spacing-6
  ),
  7: (
    null: $ofh_spacing-6,
    tablet: $ofh_spacing-7
  ),
  8: (
    null: $ofh_spacing-7,
    tablet: $ofh_spacing-8
  ),
  9: (
    null: $ofh_spacing-8,
    tablet: $ofh_spacing-9
  )
) !default;
