/* stylelint-disable color-no-hex */
/* Brand */
$ofh_color-brand-dark-blue: #011D4B;
$ofh_color-brand-blue: #108BE2;
$ofh_color-brand-light-blue: #A4E7E2;
$ofh_color-brand-green: #00A08A;
$ofh_color-brand-light-green: #A2F5AC;
$ofh_color-brand-yellow: #FFC62C;
$ofh_color-brand-orange: #FF7800;
$ofh_color-brand-red: #F34848;
/* Greyscale */
$ofh_color-black: #1B1B1B;
$ofh_color-true-black: #000000;
$ofh_color-grey-1: #494949;
$ofh_color-grey-2: #767676;
$ofh_color-grey-3: #A4A4A4;
$ofh_color-grey-4: #D1D1D1;
$ofh_color-grey-5: #E8E8E8;
$ofh_color-grey-6: #F4F4F4;
$ofh_color-white: #FFFFFF;
/* Neutrals */
$ofh_color-neutral-blue: #F2F5FA;
$ofh_color-neutral-yellow: #F8F5EF;
$ofh_color-neutral-grey: #F8F8F8;
/* Extended */
$ofh_color-brand-dark-blue-1: #000E26;
$ofh_color-brand-dark-blue-2: #011638;
$ofh_color-brand-dark-blue-3: #405578;
$ofh_color-brand-dark-blue-4: #808EA5;
$ofh_color-brand-blue-1: #084571;
$ofh_color-brand-blue-2: #0C68A9;
$ofh_color-brand-blue-3: #4CA8E9;
$ofh_color-brand-blue-4: #87C5F1;
$ofh_color-brand-light-blue-1: #527371;
$ofh_color-brand-light-blue-2: #7BADA9;
$ofh_color-brand-light-blue-3: #BBEDE9;
$ofh_color-brand-light-blue-4: #D1F3F1;
$ofh_color-brand-green-1: #005045;
$ofh_color-brand-green-2: #007867;
$ofh_color-brand-green-3: #00A08A;
$ofh_color-brand-green-4: #80CFC4;
$ofh_color-brand-light-green-1: #517B56;
$ofh_color-brand-light-green-2: #7AB881;
$ofh_color-brand-light-green-3: #B9F8C1;
$ofh_color-brand-light-green-4: #D0FAD5;
$ofh_color-brand-yellow-1: #806316;
$ofh_color-brand-yellow-2: #BF9421;
$ofh_color-brand-yellow-3: #FFD461;
$ofh_color-brand-yellow-4: #FFE296;
$ofh_color-brand-orange-1: #803C00;
$ofh_color-brand-orange-2: #BF5A00;
$ofh_color-brand-orange-3: #FF9A40;
$ofh_color-brand-orange-4: #FFBC80;
$ofh_color-brand-red-1: #7A2424;
$ofh_color-brand-red-2: #B63636;
$ofh_color-brand-red-3: #F67676;
$ofh_color-brand-red-4: #F9A3A3;
