/* Brand */
$color_ofh-brand-dark-blue: #011D4B;
$color_ofh-brand-blue: #108BE2;
$color_ofh-brand-light-blue: #A4E7E2;
$color_ofh-brand-green: #00A08A;
$color_ofh-brand-light-green: #A2F5AC;
$color_ofh-brand-yellow: #FFC62C;
$color_ofh-brand-orange: #FF7800;
$color_ofh-brand-red: #F34848;

/* Greyscale */
$color_ofh-black: #1B1B1B;
$color_ofh-true-black: #000000;
$color_ofh-grey-1: #494949;
$color_ofh-grey-2: #767676;
$color_ofh-grey-3: #A4A4A4;
$color_ofh-grey-4: #D1D1D1;
$color_ofh-grey-5: #E8E8E8;
$color_ofh-grey-6: #F4F4F4;
$color_ofh-white: #FFFFFF;

/* Neutrals */
$color_ofh-neutral-blue: #F2F5FA;
$color_ofh-neutral-yellow: #F8F5EF;
$color_ofh-neutral-grey: #F8F8F8;

/* Extended */
$color_ofh-brand-dark-blue-1: #000E26;
$color_ofh-brand-dark-blue-2: #011638;
$color_ofh-brand-dark-blue-3: #405578;
$color_ofh-brand-dark-blue-4: #808EA5;

$color_ofh-brand-blue-1: #084571;
$color_ofh-brand-blue-2: #0C68A9;
$color_ofh-brand-blue-3: #4CA8E9;
$color_ofh-brand-blue-4: #87C5F1;
