/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.ofh-select {
  @include ofh-font(19);

  border: $ofh-border-width-form-element solid $ofh-input-border-color;
  box-sizing: border-box;
  height: 40px;
  max-width: 100%;
  padding: ofh-spacing(1);

  &:focus {
    @include ofh-focused-input;
  }
}

.ofh-select option:active,
.ofh-select option:checked,
.ofh-select:focus::-ms-value {
  background-color: $color_ofh-brand-yellow;
  color: $ofh-text-white-color;
}

.ofh-select--error {
  border: $ofh-border-width-form-element-error solid $ofh-error-color;
}
