/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.ofh-select {
  @include ofh-font('paragraph-md');
  @include ofh-responsive-padding(12, 'vertical');
  @include ofh-responsive-padding(16, 'left');

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  padding-right: $ofh-size-56;
  width: 100%;

  &:hover:not(:disabled, .ofh-select--error) {
    @include ofh-emphasised-input-border($ofh-color-border-input-default);
  }

  &:active:not(:disabled, .ofh-select--error) {
    @include ofh-emphasised-input-border($ofh-color-border-input-active);
  }

  &:focus:not(.ofh-select--error) {
    @include ofh-focused-input;
  }
}

.ofh-select__wrapper {
  position: relative;
}

.ofh-select__icon {
  color: $ofh-color-foreground-primary;
  pointer-events: none;
  position: absolute;
  right: $ofh-size-16;
  top: 50%;
  transform: translateY(-50%);
}

.ofh-select option:active,
.ofh-select option:checked,
.ofh-select:focus::-ms-value {
  background-color: $ofh-color-brand-yellow-3-main;
  color: $ofh-color-foreground-primary-inverted;
}

.ofh-select--error {
  @include ofh-emphasised-input-border($ofh-color-border-feedback-error);

  &:focus {
    @include ofh-focused-input($ofh-color-border-feedback-error);
  }
}
