/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.ofh-select {
  @include ofh-font('paragraph-md');

  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default;
  box-sizing: border-box;
  height: 40px;
  max-width: 100%;
  padding: $ofh-size-4;

  &:focus {
    @include ofh-focused-input;
  }
}

.ofh-select option:active,
.ofh-select option:checked,
.ofh-select:focus::-ms-value {
  background-color: $ofh-color-brand-yellow-3-main;
  color: $ofh-color-foreground-primary-inverted;
}

.ofh-select--error {
  border: $ofh-stroke-weight-4 solid $ofh-color-feedback-error-2-main;
}
