/* ==========================================================================
   COMPONENTS/ #TEXTAREA
   ========================================================================== */

.ofh-textarea {
  @include ofh-font('paragraph-md');

  -webkit-appearance: none;
  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  min-height: 40px;
  padding: $ofh-size-4;
  resize: vertical;
  width: 100%;

  &:focus {
    @include ofh-focused-input;
  }
}

.ofh-textarea--error {
  border: $ofh-stroke-weight-4 solid $ofh-color-feedback-error-2-main;
}
