{% set html_style = 'background-color: #f0f4f5;' %}
{% set pageTitle = 'Card - Feature card' %}
{% from 'packages/components/card/macro.njk' import card %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

<div class="ofh-width-container">
  <main class="ofh-main-wrapper" id="maincontent">

    <div class="ofh-grid-row">
      <div class="ofh-grid-column-two-thirds">

        {{ card({
          "feature": "true",
          "heading": "Feature card heading",
          "headingClasses": "ofh-heading-m",
          "description": "Feature card description"
        }) }}

      </div>
    </div>

  </main>
</div>

{% endblock %}
