/* ==========================================================================
   ELEMENTS / #PAGE
   ========================================================================== */

/**
 * High-level, page-level styling.
 *
 * 1. The reason for this is to prevent "centering jumps" when navigating back
 *    and forth between pages with enough content to have a vertical scroll bar
 *    and pages that do not.
 * 2. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 * 3. Override the user agent style margin of 8px.
 * 4. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  background-color: $ofh-color-background-primary;
  font-family: $ofh-typography-font-source-sans-pro, Arial, sans-serif;
  overflow-y: scroll; /* [1] */
}

body {
  background-color: $ofh-color-background-primary;
  color: $ofh-color-foreground-primary;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale; /* [2] */
  -webkit-font-smoothing: antialiased; /* [2] */
  line-height: _ofh-line-height(24px, 16px);
  margin: 0; /* [3] */
  min-height: 100%; /* [4] */

  .heading-caption {
    color: $ofh-color-greyscale-3;
  }
}
