.ofh-footer-ds {
  @include clearfix();
  @include print-hide();
  @include ofh-responsive-padding(24, bottom);
  @include ofh-responsive-padding(24, top);
  @include ofh-font($size: paragraph-sm);

  background-color: $ofh-color-brand-blue-navy-3-main;
  border-top: $ofh-size-8 solid $ofh-color-greyscale-7;
  margin-top: $ofh-size-64;
}

.footer-ds-text {
  color: $ofh-color-greyscale-white;
  float: left;
  padding-top: $ofh-size-32;

  p {
    @include ofh-font($size: paragraph-md);

    margin: 0;
  }
}

.ofh-footer-ds__list {
  @include ofh-responsive-padding(16, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: $ofh-size-0;

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    width: 75%;
  }
}

.ofh-footer-ds__list-item {
  @include ofh-font($size: paragraph-md);

  @include mq($from: desktop) {
    float: left;
    margin-right: $ofh-size-32;
  }
}

.ofh-footer-ds__list-item-link {
  color: $ofh-color-foreground-primary-inverted;

  &:visited {
    color: $ofh-color-foreground-primary-inverted;
  }

  &:hover {
    color: $ofh-color-foreground-primary-inverted;
  }
}

.ofh-footer-ds__copyright {
  @include ofh-font($size: paragraph-md);

  color: $ofh-color-foreground-primary-inverted;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}
