{% from 'components/date-input/macro.njk' import dateInput %}

{{ dateInput({
  "id": "example",
  "namePrefix": "example",
  "fieldset": {
    "legend": {
      "text": "What is your date of birth?",
      "classes": "ofh-label--l",
      "isPageHeading": true
    }
  },
  "hint": {
    "text": "For example, 15 3 1984"
  },
  "items": [
    {
      "name": "day",
      "classes": "ofh-input--width-2"
    },
    {
      "name": "month",
      "classes": "ofh-input--width-2"
    },
    {
      "name": "year",
      "classes": "ofh-input--width-4"
    }
  ]
}) }}
