/* ==========================================================================
   COMPONENTS/ #INPUT
   ========================================================================== */

/**
 * 1. Disable inner shadow and remove rounded corners
 * 2. setting any background-color makes text invisible when changing colours to dark
 *    backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
 *    as background-color and color need to always be set together, color should
 *    not be set either.
 */

.ofh-input__header {
  display: flex;
  flex-direction: column;
  gap: $ofh-size-4;

  @include ofh-responsive-margin(16, 'bottom');
}

.ofh-input__label,
.ofh-input__hint,
.ofh-input__error-message {
  margin-bottom: 0;
}

.ofh-input__label {
  font-weight: $ofh-typography-weight-semibold;
}

.ofh-input__error-message {
  clear: none;
}

.ofh-input__legend {
  font-weight: $ofh-typography-weight-semibold;
}

.ofh-input__legend--with-supporting-text {
  margin-bottom: 0;
}

.ofh-input__legend--with-supporting-text + .ofh-input__header {
  margin-top: $ofh-size-4;
}

.ofh-input {
  @include ofh-font('paragraph-md');
  @include ofh-responsive-padding(12, 'vertical');
  @include ofh-responsive-padding(16, 'horizontal');

  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 1 */
  appearance: none; /* 1 */
  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default; /* 2 */
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  margin-top: 0;
  width: 100%;

  &:hover:not(:disabled, .ofh-input--error) {
    @include ofh-emphasised-input-border($ofh-color-border-input-default);
  }

  &:active:not(:disabled, .ofh-input--error) {
    @include ofh-emphasised-input-border($ofh-color-border-input-active);
  }

  &:focus:not(.ofh-input--error) {
    @include ofh-focused-input;
  }
}

.ofh-input::-webkit-outer-spin-button,
.ofh-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ofh-input[type="number"] {
  /* stylelint-disable-line string-quotes */
  -moz-appearance: textfield;
}

.ofh-input--error {
  @include ofh-emphasised-input-border($ofh-color-border-feedback-error);

  &:focus {
    @include ofh-focused-input($ofh-color-border-feedback-error);
  }
}

// The ex measurements are based on the number of W's that can fit inside the input
// Extra space is left on the right hand side to allow for the Safari prefill icon
// Linear regression estimation based on visual tests: y = 1.76 + 1.81x

.ofh-input--width-30 {
  max-width: 56ex + 3ex;
}

.ofh-input--width-20 {
  max-width: 38ex + 3ex;
}

.ofh-input--width-10 {
  max-width: 20ex + 3ex;
}

.ofh-input--width-5 {
  max-width: 10.8ex;
}

.ofh-input--width-4 {
  max-width: 9ex;
}

.ofh-input--width-3 {
  max-width: 7.2ex;
}

.ofh-input--width-2 {
  max-width: 5.4ex;
}
