/* ==========================================================================
   COMPONENTS/ #CHECKBOXES
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$ofh-checkboxes-size: $ofh-size-48;
$ofh-checkboxes-gap: $ofh-size-16;

.ofh-checkboxes__item {
  @include ofh-font('paragraph-md');

  clear: left;
  display: block;
  margin-bottom: $ofh-size-12;
  position: relative;
}

.ofh-checkboxes__item:last-child,
.ofh-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.ofh-checkboxes__row {
  align-items: center;
  display: flex;
  gap: $ofh-checkboxes-gap;
  min-height: $ofh-checkboxes-size;
  position: relative;
}

.ofh-checkboxes__input {
  cursor: pointer;
  height: $ofh-checkboxes-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $ofh-checkboxes-size;
  z-index: 1;
}

.ofh-checkboxes__controller {
  align-items: center;
  background: $ofh-color-background-primary;
  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: $ofh-checkboxes-size;
  justify-content: center;
  pointer-events: none;
  width: $ofh-checkboxes-size;
}

.ofh-checkboxes__icon {
  color: $ofh-color-foreground-primary;
  opacity: 0;
}

.ofh-checkboxes__label {
  cursor: pointer;
  flex: 1 1 auto;
  margin-bottom: 0;
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation;
}

.ofh-checkboxes__hint {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: $ofh-checkboxes-size + $ofh-checkboxes-gap;
}

/*
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.ofh-checkboxes__input:focus + .ofh-checkboxes__controller {
  @include ofh-focused-checkbox();
}

.ofh-form-group--error .ofh-checkboxes__input:focus + .ofh-checkboxes__controller {
  @include ofh-focused-checkbox($ofh-color-border-feedback-error);
}

/* Selected state */

.ofh-checkboxes__input:checked + .ofh-checkboxes__controller .ofh-checkboxes__icon {
  opacity: 1;
}

.ofh-checkboxes__row:hover .ofh-checkboxes__controller {
  border-width: $ofh-stroke-weight-4;
}

.ofh-checkboxes__row:active .ofh-checkboxes__controller {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-input-active;
}

.ofh-form-group--error .ofh-checkboxes__controller {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-error;
}

.ofh-form-group--error .ofh-checkboxes__row:hover .ofh-checkboxes__controller,
.ofh-form-group--error .ofh-checkboxes__row:active .ofh-checkboxes__controller {
  border: $ofh-stroke-weight-4 solid $ofh-color-border-feedback-error;
}

/* Disabled state */

.ofh-checkboxes__input:disabled,
.ofh-checkboxes__input:disabled ~ .ofh-checkboxes__label {
  cursor: default;
}

.ofh-checkboxes__input:disabled + .ofh-checkboxes__controller,
.ofh-checkboxes__input:disabled ~ .ofh-checkboxes__label,
.ofh-checkboxes__input:disabled ~ .ofh-checkboxes__hint {
  opacity: 0.5;
}

.ofh-checkboxes__row:hover .ofh-checkboxes__input:disabled + .ofh-checkboxes__controller,
.ofh-checkboxes__row:active .ofh-checkboxes__input:disabled + .ofh-checkboxes__controller {
  border: $ofh-stroke-weight-2 solid $ofh-color-border-input-default;
}

/* Divider variant */

.ofh-checkboxes__divider {
  $ofh-divider-size: $ofh-checkboxes-size !default;

  @include ofh-font('paragraph-md');

  color: $ofh-color-foreground-primary;
  margin-bottom: $ofh-size-8;
  text-align: center;
  width: $ofh-divider-size;
}

/*
 * Conditional
 *
 * 1. Calculate the amount of padding needed to keep the border
 *    centered against the checkbox.
 * 2. Move the border centered with the checkbox.
 * 3. Move the contents of the conditional inline with the label.
 */

$conditional-border-width: $ofh-stroke-weight-4;
$conditional-border-padding: ($ofh-checkboxes-size * 0.5) - ($conditional-border-width * 0.5); /* 1 */
$conditional-margin-left: $conditional-border-padding; /* 2 */
$conditional-padding-left: $ofh-checkboxes-size + $ofh-checkboxes-gap; /* 3 */

.ofh-checkboxes__conditional {
  @include ofh-responsive-margin(16, 'bottom');

  border-left: $conditional-border-width solid $ofh-color-border-input-default;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .ofh-checkboxes__conditional--hidden {
  display: none;
}
