/* ==========================================================================
   STYLES / #ICONS
   ========================================================================== */

// Default icon size

.ofh-icon {
  height: $ofh-icon-size;
  width: $ofh-icon-size;
}

// Default icon colours

.ofh-icon__search {
  fill: $color_ofh-brand-yellow;
}

.ofh-icon__chevron-left {
  fill: $color_ofh-brand-yellow;
}

.ofh-icon__chevron-right {
  fill: $color_ofh-brand-dark-blue;
}

.ofh-icon__close {
  fill: $color_ofh-brand-dark-blue;;
}

.ofh-icon__cross {
  fill: $color_ofh-brand-red;
}

.ofh-icon__tick {
  stroke: $color_ofh-brand-green;
}

.ofh-icon__arrow-right {
  fill: $color_ofh-brand-yellow;
}

.ofh-icon__arrow-left {
  fill: $color_ofh-brand-yellow;
}

.ofh-icon__arrow-right-circle {
  fill: $color_ofh-brand-green;
}

.ofh-icon__chevron-down {
  fill: $color_ofh-brand-yellow;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  path {
    fill: $color_ofh-brand-white;
  }
}

.ofh-icon__chevron-up {
  fill: $color_ofh-brand-yellow;
  path {
    fill: $color_ofh-brand-white;
  }
}

.ofh-icon__emdash {
  path {
    fill: $color_ofh-grey-3;
  }
}

.ofh-icon__plus {
  fill: $color_ofh-brand-yellow;
}

.ofh-icon__minus {
  fill: $color_ofh-brand-yellow;
}

// Icon size adjustments

.ofh-icon--size-25 {
  height: $ofh-icon-size * 1.25;
  width: $ofh-icon-size * 1.25;
}

.ofh-icon--size-50 {
  height: $ofh-icon-size * 1.5;
  width: $ofh-icon-size * 1.5;
}

.ofh-icon--size-75 {
  height: $ofh-icon-size * 1.75;
  width: $ofh-icon-size * 1.75;
}

.ofh-icon--size-100 {
  height: $ofh-icon-size * 2;
  width: $ofh-icon-size * 2;
}
