/* ==========================================================================
   COMPONENTS/ #ERROR-SUMMARY
   ========================================================================== */

/**
 * 1. Cross-component class - adjusts styling of list component.
 * 2. Override default link styling to use error colour
 */

.ofh-error-summary {
  @include ofh-responsive-padding(4);
  @include ofh-responsive-margin(8, 'bottom');

  border: $ofh-border-width-mobile solid $ofh-error-color;

  @include govuk-media-query($from: tablet) {
    border: $ofh-border-width solid $ofh-error-color;
  }

  &:focus {
    border: $ofh-focus-width solid $ofh-focus-text-color;
    box-shadow: 0 0 0 $ofh-focus-width $ofh-focus-color;
    outline: $ofh-focus-width solid transparent;
  }
}

.ofh-error-summary__title {
  @include ofh-font(24, $weight: bold);

  margin-top: 0;
  @include ofh-responsive-margin(4, 'bottom');
}

.ofh-error-summary__body {
  @include ofh-font(19);

  p {
    margin-top: 0;
    @include ofh-responsive-margin(4, 'bottom');
  }
}

.ofh-error-summary__list { /* 1 */
  margin-bottom: 0;
  margin-top: 0;
}

.ofh-error-summary__list a {
  @include ofh-typography-weight-bold;

  /* 2 */
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $ofh-error-color;
  }

  &:focus {
    @include ofh-focused-text();
  }

}
