{% set pageTitle = "Breadcrumbs" %}
{% set pageSection = "Design system" %}
{% set subSection = "Components" %}
{% set pageDescription = "Use breadcrumbs to help users understand where they are in the website." %}
{% set theme = "Navigation" %}
{% set dateUpdated = "January 2019" %}
{% set backlog_issue_id = "6" %}

{% extends "app-layout.njk" %}

{% block breadcrumb %}
  {% include "../_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {{ designExample({
    group: "components",
    item: "breadcrumbs",
    type: "default"
  }) }}

  <h2>When to use breadcrumbs</h2>
  <p>Use breadcrumbs to give users context and let them move back or up a level if they can't find what they want on the page.</p>

  <h2>When not to use breadcrumbs</h2>
  <p>Don’t use breadcrumbs in transactional journeys as they can get in the way of the user completing the task.</p>

  <h2>How to use breadcrumbs</h2>
  <p>If the full breadcrumb trail doesn't fit the screen size, it can wrap onto 2 lines, but don't break a breadcrumb if it doesn't fit the line.</p>
  <p>You don't need to show the current page in the breadcrumb because this information is in the H1.</p>
  <p>On mobile, we replace the full breadcrumb trail with a "Back to [parent]" link.</p>
  <p>Use these breadcrumbs on either white or OFH Brand Yellow (see Accessibility section below).</p>

  <h3>Accessibility</h3>
  <p class="rich-text">We use <code>aria-label="breadcrumb"</code> as a label in the nav element to let people who use screen readers know what it is.</p>
  <p class="rich-text">We add <code>aria-hidden="true"</code> to the svg <a href="/design-system/styles/icons">icons</a> to hide them from people who use screen readers.</p>
  <p>These breadcrumbs have been tested and pass accessibility on the following backgrounds:</p>
  <ul>
    <li>AAA accessibility on white (#FFFFFF)</li>
    <li>AA accessibility on OFH Brand Yellow (#FFC62C)</li>
  </ul>
  <p>They have not been tested or implemented on other colour backgrounds.</p>

  <h2>Research</h2>
  <p>To see more about how breadcrumbs were researched and used by the NHS, <a href="https://service-manual.nhs.uk/design-system/components/breadcrumbs">refer to their documentation on breadcrumbs.</a></p>

{% endblock %}
