// Accessible autocomplete

.autocomplete__wrapper {
  position: relative;

  ul > li {
    margin-bottom: 0;
  }
}

.autocomplete__hint,
.autocomplete__input {
  appearance: none;
  border: 2px solid $ofh-text-grey-color;
  border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  height: 40px;
  line-height: 1.25;
  margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: $ofh-text-grey-color;
  position: absolute;
}

.autocomplete__input--default {
  padding: 4px;
}

.autocomplete__input--focused {
  border: 2px solid $ofh-focus-text-color;
  box-shadow: inset 0 0 0 2px;
  outline: 3px solid $ofh-focus-color;
  outline-offset: 0;
}

.autocomplete__input--show-all-values {
  cursor: pointer;
  padding: 5px 35px 5px 5px; /* Space for arrow. Other padding should match .autocomplete__input--default. */
}

.autocomplete__dropdown-arrow-down {
  display: inline-block;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 24px;
  z-index: -1;
}

.autocomplete__menu {
  background-color: $ofh-text-white-color;
  border: 2px solid $ofh-text-grey-color;
  border-top: 0;
  color: $ofh-text-black-color;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, .256863) 0 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid $ofh-border-color;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  height: 45px;
  position: relative;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
  height: 44px;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: $ofh-link-color;
  border-color: $ofh-link-color;
  color: $color_ofh-white;
  outline: none;
}

@media (-ms-high-contrast: active), (forced-colors: active) {
  .autocomplete__menu {
    border-color: FieldText;
  }

  .autocomplete__option {
    background-color: Field;
    color: FieldText;
  }

  .autocomplete__option--focused,
  .autocomplete__option:hover {
    background-color: Highlight;

    /* Prefer SelectedItem / SelectedItemText in browsers that support it */
    background-color: SelectedItem;
    border-color: Highlight;
    border-color: SelectedItem;
    color: HighlightText;
    color: SelectedItemText;
    forced-color-adjust: none; /* prevent backplate from obscuring text */
    outline-color: SelectedItemText;
  }
}

.autocomplete__option--no-results {
  background-color: $color_ofh-grey-6;
  color: $ofh-text-grey-color;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 1rem;
  font-weight: 400;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 8px 4px;
}

@media (min-width: 641px) {
  .autocomplete__hint,
  .autocomplete__input {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }

  .autocomplete__option {
    font-size: 1.1875rem;
  }
}

// End of accessible autocomplete
