/* ==========================================================================
   COMPONENTS / #SKIP-LINK
   ========================================================================== */

/**
 * 1. Hides the skip link off the page,
 * 2. until the link gains focus from keyboard tabbing.
 */

.ofh-skip-link {
  background-color: $ofh-color-greyscale-white;
  left: -9999px; /* [1] */
  padding: ofh-spacing(3);
  position: absolute;

  &:active,
  &:focus {
    left: ofh-spacing(4); /* [2] */
    top: ofh-spacing(4);
    z-index: 2;
  }

  &:visited {
    color: $ofh-color-foreground-primary;
  }
}
