{% from 'packages/components/input/macro.njk' import input %}

{{ input({
  "label": {
    "text": "What is your name?",
    "classes": "ofh-label--l",
    "isPageHeading": true
  },
  "id": "example-heading",
  "name": "example-heading"
}) }}
