{% set pageTitle = 'Landing page' %}
{% from 'packages/components/header/macro.njk' import header %}
{% from 'packages/components/footer/macro.njk' import footer %}
{% from 'packages/components/images/macro.njk' import image %}
{% extends 'standalone-example-layout.njk' %}

{% block body %}

  {{ header({
      "showNav": "true",
      "showSearch": "false",
      "organisation": {
        "name": "Our Future Health",
        "logoURL": "/ofh-design-system-toolkit/assets/logos/ofh-logo-marque.svg"
      },
      "primaryLinks": [
        {
          "url": "#",
          "label": "Research programme"
        },
        {
          "url": "#",
          "label": "About us"
        },
        {
          "url": "#",
          "label": "Participants"
        },
        {
          "url": "#",
          "label": "Partners"
        },
        {
          "url": "#",
          "label": "News & events"
        }
      ]
    })
  }}

  <div class="ofh-width-container">
    <main class="ofh-main-wrapper" id="maincontent" role="main">
      <h1>
        Let’s prevent disease together
      </h1>

      <div>
        {{ image({
            "src": "https://ourfuturehealth.org.uk/wp-content/uploads/2021/02/img_main-pplgrid_desktop.png",
            "attributes": {
              "style": "width: 100%"
            }
          })
        }}
      </div>

      <p class="ofh-body-l">
        Our Future Health will be the UK’s largest ever health research programme, bringing people together to develop new ways to prevent, detect and treat diseases.
      </p>

      <h2>A world-leading health research programme</h2>
      <p>
        Our Future Health will collect information from millions of volunteers right across the UK to create one of the most detailed pictures we’ve ever had of people’s health. Researchers will be able to use this information to discover more effective ways to prevent, detect and treat diseases.
      </p>

      <h2>Helping future generations live in good health for longer</h2>
      <p>
        Today, millions of people spend many years of their later life in poor health. And too often, we treat diseases only when patients start showing symptoms. Our goal is to transform the prevention, detection and treatment of conditions such as dementia, cancer, diabetes, heart disease and stroke. So future generations can live in good health for longer.
      </p>

      <h2 class="ofh-u-margin-top-6">Sign up for news</h2>
      <p>Keep updated with news from Our Future Health</p>
      <form>
        <fieldset class="ofh-fieldset">
          <legend class="ofh-u-visually-hidden">
            Join our newsletter
          </legend>
          <div class="ofh-form-group">
            <label class="ofh-label" for="firstName" id="firstName-label">First name</label>
            <span class="ofh-error-message"></span>
            <input class="ofh-input" id="firstName" type="text" name="firstName" value="">
          </div>
          <div class="ofh-form-group">
            <label class="ofh-label" for="lastName" id="lastName-label">Last name</label>
            <span class="ofh-error-message"></span>
            <input class="ofh-input" id="lastName" type="text" name="lastName" value="">
          </div>
          <div class="ofh-form-group">
            <label class="ofh-label" for="email" id="email-label">Email</label>
            <span class="ofh-error-message"></span>
            <input data-matomo-ignore="" class="ofh-input" id="email" type="text" name="email" value="">
          </div>
        </fieldset>
        <p>
          <strong>Your details will never be shared with any third parties.</strong>
          <br>
          For more information, <a href="#">read our privacy page</a>.
        </p>
        <div>
          <button class="ofh-button ofh-button--contained ofh-u-width-full" id="join" type="submit">Sign up</button>
        </div>
      </form>

      <hr class="ofh-section-break ofh-section-break--m ofh-section-break--visible">

      <div class="ofh-action-link ofh-u-margin-bottom-0 ofh-u-margin-top-6">
        <a class="ofh-action-link__link" href="#">
          <svg width="34px" height="34px" class="ofh-icon ofh-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M2,12a9,9 0 1,0 18,0a9,9 0 1,0 -18,0" fill="#011D4B">
            </path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66
            5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69
            13H2.05A10 10 0 1 0 12 2z" fill="#ffc62c"></path>
          </svg>
          <span class="ofh-action-link__text">Find out more about our research programme</span>
        </a>
      </div>
    </main>
  </div>

{% endblock %}

{% block footer %}

  {{ footer({
    "copyright": "© Our Future Health 2022",
    "links": [
      {
        "URL": "#",
        "label": "Accessibility"
      },
      {
        "URL": "#",
        "label": "Privacy"
      },
      {
        "URL": "#",
        "label": "Cookies"
      },
      {
        "URL": "#",
        "label": "Careers"
      }
    ]
  })}}

{% endblock %}
