.code-embed {
  background-color: $ofh-color-greyscale-6;
  border: 1px solid $ofh-color-greyscale-4;

  iframe {
    display: block;
    width: 100%;
  }

  + .code-snippet {
    margin-top: -1px;
  }
}
